<md-content class="user_profile_parameters_address_add_dialogs">
	<md-toolbar>
		<span class="user_profile_parameters_address_add_dialogs_header">Add an address</span>
	</md-toolbar>
	<md-content>
		<form name="addLivingAddressForm">
			<md-input-container>
				<label>Alias</label>
				<input ng-model="alias" name="alias" required md-maxlength="50" minlength="3"></input>
				<div ng-messages="addLivingAddressForm.alias.$error" ng-if='!addLivingAddressForm.alias.$pristine'>
					<div ng-message="required"> This is required. </div>
					<div ng-message="minlength"> The alias must be longer than 3 characters.</div>
					<div ng-message="md-maxlength"> The alias must be shorter than 50 characters. </div>
				</div>
			</md-input-container>
			<section layout="row", layout-align="center center">
				<md-input-container>
					<label>First name</label>
					<input ng-model="first_name" name="first_name" required md-maxlength="50" minlength="1"></input>
					<div ng-messages="addLivingAddressForm.first_name.$error" ng-if='!addLivingAddressForm.first_name.$pristine'>
						<div ng-message="required"> This is required. </div>
						<div ng-message="minlength"> The first name must be longer than 1 characters.</div>
						<div ng-message="md-maxlength"> The first name must be shorter than 50 characters. </div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>Last name</label>
					<input ng-model="last_name" name="last_name" required md-maxlength="50" minlength="1"></input>
					<div ng-messages="addLivingAddressForm.last_name.$error" ng-if='!addLivingAddressForm.last_name.$pristine'>
						<div ng-message="required"> This is required. </div>
						<div ng-message="minlength"> The last name must be longer than 1 characters.</div>
						<div ng-message="md-maxlength"> The last name must be shorter than 50 characters. </div>
					</div>
				</md-input-container>
			</section>		
			<md-input-container>
				<label>Address</label>
				<textarea ng-model="address" name="address" required md-maxlength="500" minlength="5"></textarea>
				<div ng-messages="addLivingAddressForm.address.$error" ng-if='!addLivingAddressForm.address.$pristine'>
					<div ng-message="required"> This is required. </div>
					<div ng-message="minlength"> The address must be longer than 5 characters.</div>
					<div ng-message="md-maxlength"> The address must be shorter than 500 characters. </div>
				</div>
			</md-input-container>
			<section layout="row", layout-align="center center">
				<md-input-container>
					<label>Postal Code</label>
					<input ng-model="postal_code" name="postal_code" type="number" required maxlength="5" min="0" max="99999"></input>
					<div ng-messages="addLivingAddressForm.postal_code.$error" ng-if='!addLivingAddressForm.postal_code.$pristine'>
						<div ng-message="required"> This is required. </div>
						<div ng-message="min"> The postal code must be bigger than 0.</div>
						<div ng-message="maxlength"> The postal code must be shorter than 5 characters. </div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>City</label>
					<input ng-model="city" name="city" required md-maxlength="50" minlength="1"></input>
					<div ng-messages="addLivingAddressForm.city.$error" ng-if='!addLivingAddressForm.city.$pristine'>
						<div ng-message="required"> This is required. </div>
						<div ng-message="minlength"> The city must be longer than 1 characters.</div>
						<div ng-message="md-maxlength"> The city must be shorter than 50 characters. </div>
					</div>
				</md-input-container>
			</section>
			<section layout="row", layout-align="center center">
				<md-button class="md-raised" type="submit"> Add </md-button>
			</section>
		</form>
	</md-content>
</md-content>