<md-content class="register_facebook_username_add_dialogs">
	<md-toolbar>
		<span class="register_facebook_username_add_dialogs_header">Enter an username</span>
	</md-toolbar>
	<section layout="column", layout-align="center center">
		<form name="addUsernameForm" ng-submit="addUsernameForm.$valid && addUsername.submit()">
				<md-input-container>
					<label> Username </label>
					<input name="username" ng-model="addUsername.username" required type="text" maxlength="20" minlength="3">
					<div ng-messages="addUsernameForm.username.$error" ng-if='!addUsernameForm.username.$pristine'>
						<div ng-message="required">This is required.</div>
            <div ng-message="minlength"> The username must be longer than 3 characters.</div>
            <div ng-message="md-maxlength"> The username must be shorter than 20 characters.</div>
					</div>
				</md-input-container>
				<section layout="column", layout-align="center center">
					<md-button class="md-raised" ng-if="!addUsername.loader">Add</md-button>
					<md-progress-circular md-diameter="30px" md-mode="indeterminate" ng-if="addUsername.loader"></md-progress-circular>
				</section>
		</form>
	</section>
</md-content>
