<md-content class="user_profile_parameters_address_add_dialogs">
	<md-toolbar>
		<span translate class="user_profile_parameters_address_add_dialogs_header">ENTER_YOUR_EMAIL</span>
	</md-toolbar>
	<section layout="column", layout-align="center center">
		<form name="forgotPasswordForm" ng-submit="forgotPasswordForm.$valid && forgotPassword.submit()">
				<md-input-container>
					<label translate> EMAIL </label>
					<input name="email" ng-model="forgotPassword.email" required type="email">
					<div ng-messages="forgotPasswordForm.email.$error" ng-if='!forgotPasswordForm.email.$pristine'>
						<div ng-message="required">{{ 'THIS_IS_REQUIRED' | translate }}.</div>
					</div>
				</md-input-container>
				<section layout="column", layout-align="center center">
					<md-button type="submit" class="md-raised" ng-if="!forgotPassword.loader" translate>RESET</md-button>
					<md-progress-circular md-diameter="30px" md-mode="indeterminate" ng-if="forgotPassword.loader"></md-progress-circular>
				</section>
		</form>
	</section>
</md-content>
