<md-content class="user_profile_parameters_address_add_dialogs">
	<md-toolbar>
		<span class="user_profile_parameters_address_add_dialogs_header">{{ showAddress.address[0] }}</span>
	</md-toolbar>
	<md-content flex="none" style="max-width: 300px;">
		<section layout="row" layout-align="center center space-between" layout-margin>
			<div layout="column" layout-align="center center"><div><strong>First name</strong></div><div>{{ showAddress.address[1].first_name }}</div></div>
			<span flex></span>
			<div layout="column" layout-align="center center"><div><strong>Last name</strong></div><div>{{ showAddress.address[1].last_name }}</div></div>
		</section>
		<section layout="column" layout-align="center center" layout-margin>
			<div><strong>Address</strong></div>
			<div>{{ showAddress.address[1].address }}</div>
		</section>
		<section layout="row" layout-align="center center space-between" layout-margin>
			<div layout="column" layout-align="center center"><div><strong>Postal Code</strong></div><div>{{ showAddress.address[1].postal_code }}</div></div>
			<span flex></span>
			<div layout="column" layout-align="center center"><div><strong>City</strong></div><div>{{ showAddress.address[1].city }}</div></div>
		</section>		
	</md-content>
</md-content>