div(layout="row", layout-align="center center")
	h2 Current Requests
div(style="margin-top:40px;")
div(layout="row")
	span.flex
	div(flex="70").article-requests-body
		div(layout="row" layout-align="center start")
			span(flex="25").special-divider
				md-divider
			h3.title-request-category.flex My Requests As Renter
			span(flex="25").special-divider
				md-divider
		div(style="margin-top:20px;")
		div(ng-if="articleRequests.demands.length < 1 && articleRequests.demands != true")
			p(style="text-align: center;") There are no demands available at the moment
		div(ng-repeat="demand in articleRequests.demands track by $index")
			div(layout="row" hide-md hide-sm hide-xs)
				md-card.card-information-demand(flex="40")
					div(layout="row")
						img.img-icon-demand-article(ng-src="{{ articleRequests.url_api + demand.article_thumbnail_url}}")
						div.flex.information-demand
							p.title-article {{ demand.article_name }}
							div.asked-by Asked By {{ demand.author_name }}
							div(ng-if="demand.author_notation == -1" style="padding-top: 10px;") This user has no notation yet
							div
								span From :
								strong {{ }} {{ demand.availibility_start | date : medium }}
							div
								span To :
								strong {{ }} {{ demand.availibility_end | date : medium }}
							div(layout="row" style="margin-top: 10px;")
								md-button(class="md-primary").md-raised ACCEPT
								span.flex
								md-button(ng-click="articleRequests.refuseDemand($index)").not-accept.md-raised REFUSE
						div(flex="none")
							div(ng-if="demand.status == 'pending'").circle-blue
			div(layout="row" hide-gt-md)
				md-card.card-information-demand.flex
					div(layout="row")
						img.img-icon-demand-article(ng-src="{{ articleRequests.url_api + demand.article_thumbnail_url}}")
						div.flex.information-demand
							p.title-article {{ demand.article_name }}
							div.asked-by Asked By {{ demand.author_name }} on {{ demand.date_issued.$date | date : medium }}
							div(ng-if="demand.author_notation == -1" style="padding-top: 5px; font-size:small; padding-bottom: 5px;") This user has no notation yet
							div
								span From :
								strong {{ }} {{ demand.availibility_start | date : medium }}
							div
								span To :
								strong {{ }} {{ demand.availibility_end | date : medium }}
							div(layout="row" style="margin-top: 30px;")
								md-button(class="md-primary").md-raised ACCEPT
								span.flex
								md-button(ng-click="articleRequests.refuseDemand($index)").not-accept.md-raised REFUSE
						div(flex="none")
							div(ng-if="demand.status == 'pending'").circle-blue
		div(layout="row" layout-align="center start")
			span(flex="25").special-divider
				md-divider
			h3.title-request-category.flex My Requests As Renting
			span(flex="25").special-divider
				md-divider
		div(style="margin-top:20px;")
		div(ng-if="articleRequests.demandsAsRenting.length < 1 && articleRequests.demandsAsRenting != true")
			p(style="text-align: center;") You issued no requests yet.
		div(ng-repeat="demand in articleRequests.demandsAsRenting track by $index")
			div(layout="row" hide-md hide-sm hide-xs)
				md-card.card-information-demand(flex="40")
					div(layout="row")
						img.img-icon-demand-article(ng-src="{{ articleRequests.url_api + demand.article_thumbnail_url}}")
						div.flex.information-demand
							p.title-article {{ demand.article_name }}
							div.asked-by Asked To {{ demand.name_target }} on {{ demand.date_issued.$date | date : medium }}
							div(style="margin-top:20px;")
								span From :
								strong {{ }} {{ demand.availibility_start | date : medium }}
							div
								span To :
								strong {{ }} {{ demand.availibility_end | date : medium }}
							div(layout="row" style="margin-top: 30px;")
								span.flex
								md-button.not-accept.md-raised RETRACT
								span.flex
						div(flex="none")
							div(ng-if="demand.status == 'pending'").circle-blue
			div(layout="row" hide-gt-md)
				md-card.card-information-demand.flex
					div(layout="row")
						img.img-icon-demand-article(ng-src="{{ articleRequests.url_api + demand.article_thumbnail_url}}")
						div.flex.information-demand
							p.title-article {{ demand.article_name }}
							div.asked-by Asked To {{ demand.name_target }} on {{ demand.date_issued.$date | date : medium }}
							div(style="margin-top:20px;")
								span From :
								strong {{ }} {{ demand.availibility_start | date : medium }}
							div
								span To :
								strong {{ }} {{ demand.availibility_end | date : medium }}
							div(layout="row" style="margin-top: 30px;")
								span.flex
								md-button.not-accept.md-raised RETRACT
								span.flex
						div(flex="none")
							div(ng-if="demand.status == 'pending'").circle-blue

	span.flex