.article-requests-body {

	.special-divider {
		padding-top: 10px;
		md-divider {
			border-top-color: black;
		}
	}

	.title-request-category {
		text-align: center;
		margin: 0px;
	}

	.img-icon-demand-article {
		width: 100px;
		height: 100px;
	}

	.information-demand {
		margin-left: 20px;
	}

}