div(layout="row" layout-align="center" layout-fill)
      md-card(flex="100")
        md-card-content
          div(layout="row" layout-align="center")
            h2 Define your article
          div(layout='row' layout-align='center')
            div(layout="column", layout-align="center center")

              md-input-container()
                md-icon(md-svg-src="../assets/icons/help-circle.svg" class="name")
                  md-tooltip(md-direction="left") This will be the title of your article. It will be displayed in the search, and will appear as the main sentence on top of your article's page

                input(placeholder="the title of your article" required name="title"
                ng-model="articleEdit.title"
                maxlength="50" minlength="3").input-title
                div(ng-messages="articleFormStep1.title.$error" ng-if='!articleFormStep1.title.$pristine')
                  div(ng-message="required") This is required.
                  div(ng-message="minlength") The title must be longer than 3 characters.
                  div(ng-message="md-maxlength") The title must be shorter than 50 characters.

              md-input-container()
                md-icon(md-svg-src="../assets/icons/help-circle.svg" class="name")
                  md-tooltip(md-direction="let") It will categorize your article to be found in one of the 3 main themes
                md-select(ng-model="articleEdit.article.base_category", name="base_category", placeholder="Category", required)
                  md-option(ng-value="opt", ng-repeat="opt in articleEdit.categories") {{ opt.name }}
                div(ng-messages="articleFormStep1.base_category.$error" ng-if='!articleFormStep1.base_category.$pristine')
                  div(ng-message="required") This is required.

              md-input-container()
                md-icon(md-svg-src="../assets/icons/help-circle.svg" class="name")
                  md-tooltip(md-direction="let") It will categorize your article to be found in one of the 3 main themes
                md-select(ng-model="articleEdit.article.sub_category", name="sub_category", placeholder="Sub Category", required)
                  md-option(ng-value="opt", ng-repeat="opt in articleEdit.subCategories") {{ opt.name }}
                div(ng-messages="articleFormStep1.sub_category.$error" ng-if='!articleFormStep1.sub_category.$pristine')
                  div(ng-message="required") This is required.
