div(layout="row" layout-align="center" layout-fill)
      md-card(flex="flex")
        md-card-content(layout="column", layout-align="center center")
          div(layout="row" layout-align="center")
            h2 Description

          div(layout="row" layout-align="center")
            div( layout="column", layout-align="center center")
              p
                md-title The description of your article
                span
                  ng-md-icon(icon="help", size="20")
                    md-tooltip(md-direction="right") This will be the description of your article, keep in mind that it will represent your article
              text-angular(ta-toolbar-class="ta-toolbar", ta-text-editor-class="ta-editor", required ta-toolbar="articleCreate.toolbar" placeholder="Your description..." name="description" ng-model="articleCreate.description" taMaxText="5000")
              div(ng-messages="articleFormStep3.description.$error" ng-if='!articleFormStep3.description.$pristine')
                div(ng-message="required") This is required.
                div(ng-message="minlength") The description must be longer than 3 characters.
                div(ng-message="md-maxlength") The description must be shorter than 5000 characters.
