#Django Pycache pyc
*.pyc

#Prod are generate by gulp
locsAppFrontWeb/prod

#Just ran bower install
locsAppFrontWeb/dev/bower_components/*

#Install the node module for gulp and http-server
locsAppFrontWeb/dev/node_modules/

#Ide
locsAppFrontWeb/.idea/
locsAppFrontWeb/.idea/workspace.xml
locasappWeb/.idea/
.idea/    

#DJango-Jenkins
locsAppBack/reports/

#Sublime project files
locsapp.sublime*

#db.sqlite3 of doom
locsAppBack/db.sqlite3