h2 Change your password
md-card-content
	section(layout="column", layout-align="center center")
		form(name="changePasswordForm" ng-submit="changePasswordForm.$valid && profileParams.change_password()")
			md-input-container
				label Old password
				input(name="old_password" ng-model="profileParams.old_password" required type="password")
				div(ng-messages="changePasswordForm.old_password.$error" ng-if='!changePasswordForm.old_password.$pristine')
					div(ng-message="required") This is required.
			md-input-container
				label New password
				input(name="new_password1" ng-model="profileParams.new_password1" required type="password")
				div(ng-messages="changePasswordForm.new_password1.$error" ng-if='!changePasswordForm.new_password1.$pristine')
					div(ng-message="required") This is required.
			md-input-container
				label Confirm new password
				input(name="new_password2" ng-model="profileParams.new_password2" required type="password")
				div(ng-messages="changePasswordForm.new_password2.$error" ng-if='!changePasswordForm.new_password2.$pristine')
					div(ng-message="required") This is required.
			md-button(type="submit").md-raised Change Password