@import "../../theme.scss";

.body-register-md {

  h1 {
    text-align: center;
  }

  margin: 20px auto;

  .facebook, .md-button.facebook:hover {
    background-color: rgba(59, 89, 152, 1);
    color: white;
  }

  .submit-buttons {
    text-align: right;
  }

}
