@import "../../theme.scss";

.body-register-md {

  h1 {
    margin-top: 0;
  }

  .facebook, .md-button.facebook:hover {
    background-color: rgba(59, 89, 152, 1);
    color: white;
  }

  .submit-buttons {
    text-align: right;
  }

  .margin-button {
    margin-top: 30px;
  }

}
