section.user-profile-parameters(layout="row" layout-align="center")

  div(layout="column" flex="50" flex-md="75" flex-sm="100" flex-xs="100")

      include ./properties/main.jade
      include ./properties/form.jade
      include ./properties/change_email.jade
      include ./properties/change_password.jade
      include ./properties/addresses.jade

      //include ./properties/change_email.jade


