section.user-profile-parameters(layout="row" layout-align="center")

  div(layout="column" flex-sm="100" flex-md="100" flex="50")
    include ./properties/main.jade
    include ./properties/form.jade


//section(layout="row", layout-align="start start" layout-margin)
    div(flex="none").user_profile_parameters_menu
        include ./user_profile_parameters_menu.jade
    md-card(ui-view="" flex class="anim-in-out anim-fade" data-anim-speed="300").user_profile_parameters_content
