@import "../../theme.scss";

.user_profile_parameters {
	height: 100%;
}

.user_profile_parameters_menu {
	width: 200px;

	md-list {
		padding: 0px;
		md-list-item button.md-button:hover:not([disabled]) {
			background-color : inherit;
		}
	}

	md-card {
		cursor: pointer;
		margin-right: 0px;
	}

	h3 {
		text-align: center;
		margin: auto;
	}
}

.user_profile_parameters_menu_tab_selected {
	background-color : $selectedTab;
}

.user_profile_parameters_content {
	
	height: 100%;
	margin-left: 0px;
	background-color: $headerContainer;

	h2 {
		margin: 10px auto;
	}

	md-card-content {
		background-color : $bodyContainer;
	}

	.user_profile_parameters_no_info {
		color: $noInfo;
	}

	.user_profile_parameters_edit_mode {
		margin-top: -7px;
		cursor: pointer;
	}

	.user_profile_parameters_info_icon {
		@extend .user_profile_parameters_edit_mode;
		cursor: help;
	}

	.user_profile_parameters_addresses {
		md-toolbar:not(.md-menu-toolbar) {
			background-color: $headerSubContainers;
		}

		.user_profile_parameters_add_address_icon {
			cursor: pointer;
		}

		.user_profile_parameters_no_address {
			@extend .user_profile_parameters_no_info;
			margin: 0px auto;
		}
	}
}

.user_profile_parameters_address_add_dialogs {
	h2 {
		background-color : $headerSubContainers;
	}
}