section(layout="row", layout-align="start start" layout-margin)
	div(flex="none").user_profile_parameters_menu
		include ./user_profile_parameters_menu.jade
	md-card(ui-view="" flex class="anim-in-out anim-slide-left" data-anim-speed="300").user_profile_parameters_content