section.user-profile(layout="row" layout-align="center")



  div(layout="column" flex-xs="100" flex-sm="100" flex-md="75" flex="50")

    include ../userProfile/properties/main.jade
    include ../userProfile/properties/notation.jade
    include ../userProfile/properties/article.jade

    div(layout="row" layout-align="end end")
      md-button.action-button-position.md-fab.md-primary(ng-click="profile.goToParameters()"
      aria-label="Edit your profile")
        ng-md-icon(icon="edit")





//section(layout="row", layout-align="start start" layout-margin)
    div(flex="none").user_profile_parameters_menu
        include ./user_profile_parameters_menu.jade
    md-card(ui-view="" flex class="anim-in-out anim-fade" data-anim-speed="300").user_profile_parameters_content
