md-card
	md-list
		md-list-item(ng-click="profileParams.goToParamPage('main.profile_management.default');").md-1-line
			h3 Informations
		md-divider
		md-list-item(ng-click="").md-1-line
			h3 Emails
		md-divider
		md-list-item(ng-click="profileParams.goToParamPage('main.profile_management.change_password');").md-1-line
			h3 Change Password