@import "../../theme.scss";

.user_profile_parameters {
	height: 100%;
}

.user_profile_parameters_menu {
	width: 200px;

	md-card {
		margin-right: 0px;
	}

	h3 {
		text-align: center;
		margin: auto;
	}
}

.user_profile_parameters_content {
	
	height: 100%;
	margin-left: 0px;
	background-color: $headerContainer;

	h2 {
		margin: 10px auto;
	}

	md-card-content {
		background-color : $bodyContainer;
	}

	.user_profile_parameters_no_info {
		color: $noInfo;
	}

	.user_profile_parameters_edit_mode {
		margin-top: -7px;
		cursor: pointer;
	}
}