section(layout="row", layout-align="start start" layout-margin)
	div(flex="none").user_profile_parameters_menu
		md-card
			md-list
				md-list-item(ng-click="").md-1-line
					h3 Informations
				md-divider
				md-list-item(ng-click="").md-1-line
					h3 Emails
				md-divider
				md-list-item(ng-click="").md-1-line
					h3 Change Password
	md-card(flex).user_profile_parameters_content
		h2 General Informations
		md-card-content
			p
				strong Username :
				span {{ }} {{ profileParams.user.username }}
			p
				strong Registered on :
				span {{ }} {{ profileParams.user.registered_date | date : 'medium' : timezone }}
			p
				strong Email :
				span{{ }} {{ profileParams.user.email }}
		h2 Personal Informations
		md-card-content
			p
				strong First Name :
				span(ng-if="profileParams.user.first_name") {{ }} profileParams.user.first_name
				span(ng-if="!profileParams.user.first_name").user_profile_parameters_no_info {{ }} No given info 
			p
				strong Last Name :
				span(ng-if="profileParams.user.last_name") {{ }} profileParams.user.last_name
				span(ng-if="!profileParams.user.last_name").user_profile_parameters_no_info {{ }} No given info 
			p
				strong Birthdate :
				span(ng-if="profileParams.user.birthdate") {{ }} profileParams.user.birthdate
				span(ng-if="!profileParams.user.birthdate").user_profile_parameters_no_info {{ }} No given info 
			