section.user-profile(layout="row" layout-align="center")

  div(layout="column" flex="50")

      include ./properties/main.jade
      include ./properties/form.jade
      md-card
        md-card-content
          div je suis une card


