md-card(flex-sm='100' flex-md="100" flex="50")
  md-card-content
    div(layout="row" layout-align="center")
      md-divider.separator-h2(flex="30" hide-sm)
      h2.t-center(flex="20") Notations
      md-divider.separator-h2(flex="30" hide-sm)

    h3(flex-offset="10") As a renter
      span(ng-repeat="value in profile.user.global_notation_renter track by $index")
        ng-md-icon(ng-if="value" icon="star" size="22")
        ng-md-icon.grey(ng-if="!value" icon="star" style="fill:'grey'" size="22")
      span ({{profile.user.nb_mark_as_renter}})
    md-list(flex-offset="10" layout="row" layout-sm="column")
      md-list-item.md-3-line(ng-repeat="notation in profile.user.notation_renter track by $index")
        img(ng-src="../assets/images/users/profile_picture/160281_3_photo_781124_899A08_BD_3.jpg" class="md-avatar" alt="{{item.who}}")
        div.md-list-item-text(layout="column")
          h4 {{ notation.title_article }}
          div
            span(ng-repeat="value in notation.mark track by $index")
              ng-md-icon(ng-if="value" icon="star" size="22")
              ng-md-icon.grey(ng-if="!value" icon="star" style="fill:'grey'" size="22")
          p {{ notation.description | limitTo: 30 }} {{notation.description.length > 30 ? '...' : ''}}
    md-list(flex-offset="10" layout="row" layout-sm="column")
      md-list-item.md-3-line(ng-repeat="notation in profile.user.notation_renter track by $index")
        img(ng-src="../assets/images/users/profile_picture/160281_3_photo_781124_899A08_BD_3.jpg" class="md-avatar" alt="{{item.who}}")
        div.md-list-item-text(layout="column")
          h4 {{ notation.title_article }}
          div
            span(ng-repeat="value in notation.mark track by $index")
              ng-md-icon(ng-if="value" icon="star" size="22")
              ng-md-icon.grey(ng-if="!value" icon="star" style="fill:'grey'" size="22")
          p {{ notation.description | limitTo: 30 }} {{notation.description.length > 30 ? '...' : ''}}

    div(layout="row" layout-align="center")
      md-divider(flex="80")


    h3(flex-offset="10") As a client
      span(ng-repeat="value in profile.user.global_notation_renter track by $index")
        ng-md-icon(ng-if="value" icon="star" size="22")
        ng-md-icon.grey(ng-if="!value" icon="star" style="fill:'grey'" size="22")
      span ({{profile.user.nb_mark_as_renter}})
    md-list(flex-offset="10" layout="row" layout-sm="column")
      md-list-item.md-3-line(ng-repeat="notation in profile.user.notation_renter track by $index")
        img(ng-src="../assets/images/users/profile_picture/160281_3_photo_781124_899A08_BD_3.jpg" class="md-avatar" alt="{{item.who}}")
        div.md-list-item-text(layout="column")
          h4 {{ notation.title_article }}
          div
            span(ng-repeat="value in notation.mark track by $index")
              ng-md-icon(ng-if="value" icon="star" size="22")
              ng-md-icon.grey(ng-if="!value" icon="star" style="fill:'grey'" size="22")
          p {{ notation.description | limitTo: 30 }} {{notation.description.length > 30 ? '...' : ''}}
    md-list(flex-offset="10" layout="row" layout-sm="column")
      md-list-item.md-3-line(ng-repeat="notation in profile.user.notation_renter track by $index")
        img(ng-src="../assets/images/users/profile_picture/160281_3_photo_781124_899A08_BD_3.jpg" class="md-avatar" alt="{{item.who}}")
        div.md-list-item-text(layout="column")
          h4 {{ notation.title_article }}
          div
            span(ng-repeat="value in notation.mark track by $index")
              ng-md-icon(ng-if="value" icon="star" size="22")
              ng-md-icon.grey(ng-if="!value" icon="star" style="fill:'grey'" size="22")
          p {{ notation.description | limitTo: 30 }} {{notation.description.length > 30 ? '...' : ''}}


    div(flex-offset="10")
      md-button.md-raised(layout-fill flex="90") Show more

