md-card
      md-card-content
        div.my-layout-xs(layout="row"  layout-align="space-around start")
          //img(ng-src="profile.user.logo_url || 'http://localhost:3000/assets/images/users/profile_picture/unknown-user.png'" style="margin-bottom:30px;")
          img(ng-if='profile.user.logo_url' ng-src='{{profile.user.logo_url}}')
          img(ng-if='!profile.user.logo_url' src='http://localhost:3000/assets/images/users/profile_picture/unknown-user.png')

          div(layout="column")
            h1
              md-icon(ng-if="!profile.user.gender" md-svg-src="../assets/icons/gender-male-female" +
              ".svg"
              aria-label="gender-male-female")
              md-icon(ng-if="profile.user.gender.indexOf('Woman') > -1" md-svg-src="../assets/icons/gender-female.svg"
              aria-label="gender-female")
              md-icon(ng-if="profile.user.gender.indexOf('Man') > -1" md-svg-src="../assets/icons/gender-male.svg"
              aria-label="gender-male")
              | {{profile.user.username}}

            div.properties-user
              div
                ng-md-icon(icon="cake" size="28")
                span(ng-if="!profile.user.birthdate") Birthdate: Not specified
                span(ng-if="profile.user.birthdate") Birthdate {{profile.user.birthdate}}

              //We don't need the within because the user access is own profile
              //div
                ng-md-icon(icon="location_on" size="28")
                span(ng-if="!profile.user.within") Within: Unknown
                span(ng-if="profile.user.within") Within {{profile.user.within}} km

              div
                ng-md-icon(icon="whatshot" size="28")
                span(ng-if="!profile.user.last_activity_date") Last activity: Unknown
                span(ng-if="profile.user.last_activity_date") Last activity {{profile.user.last_activity_date.split('T')[0]}}

              div
                ng-md-icon(icon="insert_emoticon" size="28")
                span Subscribed {{profile.user.registered_date}}





