div(ng-controller="ArticleQuestionsController as articleQuestion")
  div(layout="row" layout-align="center")
    md-divider.separator-h2(flex="30" hide-sm style='width:1px')
    h1.t-center(flex="20") My questions
    md-divider.separator-h2(flex="30" hide-sm style='width:1px')
p {{question}}


  div(layout='row' layout-align='center')

    //index 0,1,2
    div(layout="column" layout-align="space-around start" ng-repeat='question in articleQuestion.questions track by $index')
      //Si c est paire on affiche ici
      md-card
        md-card-content
          div {{$index}}


    div(layout="column" layout-align="space-around end" ng-repeat='question in articleQuestion.questions track by $index')
      //Si c est paire on affiche ici
      md-card
        md-card-content
          div {{$index}}



  //div(layout="row" layout-align="center" ng-repeat='question in articleQuestion.questions track by $index')
    md-card(flex="50")
      md-card-content(ng-show='question.visible')
        div(layout='row')
          div(flex='10')
            h2 {{question.title_article}}
          div(flex='90')
            p {{question.content}}

