div(ng-controller="NavBarController as navbar")
	div(layout="column").flex
		include ../templates/navbar/navbar.jade
	div(layout="column").flex
		div(id="loading-bar-container")
	section(layout="column", layout-fill).scope-child
		div.ui-view(class="anim-in-out anim-slide-below-fade" data-anim-speed="300")