div(ng-controller="NavBarController as navbar")
  div(layout="column").fixed-navbar.flex
    include ../templates/navbar/navbar.jade
  div(layout="column").flex
    div(id="loading-bar-container")
      p toto
  section(layout="column", layout-fill).scope-child
    div.ui-view(class="anim-in-out anim-slide-below-fade" data-anim-speed="300")
