
div(class="article-show" layout='row', layout-align='space-between start')
  div(flex="33" style="background-color: blue")
    img(src="http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=135603516")
  div(flex="33"  style="background-color: yellow; text-align:center;")
    p Robe bleu<br> toto
      ng-md-icon(icon="star_rate" size="40")
      ng-md-icon(icon="star_rate" size="40")
      ng-md-icon(icon="star_rate" size="40")
  div(flex="33" style="background-color: red; text-align:right;")
    p three


