.favorite(ng-controller="FavoriteController as favorite" layout="row" layout-align="center" )
  div(flex-xs="100" flex-sm="100" flex-md="100" flex="100")

    div(layout="row" layout-align="center")
      h1.t-center(flex="20") My favorites


    div(layout="row" layout-align="center")
      md-divider.separator-h2(flex="35" hide-sm)
      h2.t-center(flex="30") My articles
      md-divider.separator-h2(flex="35" hide-sm)


    // favorite Pagination
    div.search-article-toolbar(ng-if="favorite.favorite_articles.length > 1")
      md-toolbar(style="background-color:none" layout="row")
        span.flex
        ng-md-icon(icon="keyboard_arrow_left" ng-click='favorite.prevOrNextFavorite(historyArticles.current_page_renter - 1)' ng-if="historyArticles.current_page_renter != 1").arrow-previous-page
        span.pagination-toolbar-search-article
          span(paging paging-action="historyArticles.goToPageClient(page)"  page="historyArticles.current_page_renter" page-size="historyArticles.page_size" total="historyArticles.nb_items_renter" active-class="current-page-selected-search-article")
        //span(style="margin-right: 20px;" ng-if="articleSearch.search._pagination.page_number >= articleSearch.totalItems / articleSearch.search._pagination.items_per_page")
        ng-md-icon(icon="keyboard_arrow_right" ng-click='historyArticles.prevOrNextPageFavorite(historyArticles.current_page_renter + 1)' ng-if="historyArticles.current_page_renter != historyArticles.nb_page_renter").arrow-next-page
    md-divider.flex
            // End Pagination favorite

    //p {{favorite.articlesWithQuestionUserAsked[0]}}
    div(ng-if='favorite.favorite_articles.length == 0')
      div(layout='row' layout-align='center')
        p You don't have any favorite articles

    div(ng-if='favorite.favorite_articles.length > 0' ng-repeat='article in favorite.favorite_articles track by $index')
      div(layout='row' layout-align='center')
          md-card(flex='50' ng-click='favorite.goToArticlePage(article.id_article)')
            md-card-content
              div(layout='row')
                img(ng-src="{{ favorite.url_api + article.url_thumbnail }}")
                div(layout='column')
                  h3 {{article.title}}
                  span {{article.price}}
                  p {{article.description | limitTo:favorite.limitDescription}} <span ng-if='article.description.length > favorite.limitDescription'>...</span>
                  div(layout="column" layout-align="end end")
                    //p toto
                    ng-md-icon(icon="delete" ng-click='favorite.deleteArticleFavorite(article._id)')

          md-card(ng-if='$index < favorite.favorite_articles.length - 1' flex='50'
          ng-click='favorite.goToArticlePage(favorite.favorite_articles[$index + 1].id_article)')
            md-card-content
              div(layout='row')
                img(ng-src="{{ favorite.url_api + favorite.favorite_articles[$index + 1].url_thumbnail }}")
                div(layout='column')
                  h3 {{favorite.favorite_articles[$index + 1].title}}
                  p {{favorite.favorite_articles[$index + 1].description | limitTo:favorite.limitDescription}} <span ng-if='favorite.favorite_articles[$index + 1].description.length > favorite.limitDescription'>...</span>

          //div Deux {{favorite.articlesWithQuestionUserAsked[$index + 1]._id}}
          span(ng-if="$index < favorite.favorite_articles.length - 1")
            //h2 IN IF
            span(ng-bind="$index  + 1" style='display:none;')
      //div(layout='row' layout-align='center')
        div un
        div deux


    div(layout="row" layout-align="center")
      md-divider.separator-h2(flex="35" hide-sm)
      h2.t-center(flex="30") My researches
      md-divider.separator-h2(flex="35" hide-sm)





