@import "../../theme.scss";

.favorite {

  md-divider {
    border-top-color: $separatorBarElement;
    height: 1px;
  }

  h2, h3 {
    margin-top: 0;
  }

  md-card {
    .right {
      margin-left: 10px;
    }
    img {
      height: 70px;
      width: auto;
    }

    ng-md-icon, .title, img {
      cursor: pointer;
    }
  }
}
