.notation-as-renter, .notation-as-client{

  //display: none;

  md-grid-tile-footer {
    background: white;
  }

  figcaption {
    width: 100%;
  }


}


 .active-page {
    	color: $onNumber;

  }


 .animate-pagination-add, .animate-pagination-remove {
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
}

.animate-pagination,
.animate-pagination-add.animate-pagination-add-active {
  -webkit-animation: fadeOut 1s 1;
  -moz-animation:    fadeOut 1s 1;
  animation:         fadeOut 1s 1;
}

.animate-pagination-remove.animate-pagination-remove-active {
  -webkit-animation: fadeIn 1s 1;
  -moz-animation:    fadeIn 1s 1;
  animation:         fadeIn 1s 1;
}
