.navbar.navbar-default
    .navbar-header
        a.navbar-brand(ui-sref="home") LocsApp
        a.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
          span.glyphicon.glyphicon-bar
          |         
          span.glyphicon.glyphicon-bar
          |         
          span.glyphicon.glyphicon-bar
      .container
        .navbar-collapse
          ul.nav.navbar-nav.navbar-right
            a(class="btn btn-default" ui-sref="logout") Logout