include ./partial-navbar-guest.jade

.col-md-12
    .modal-dialog(style='margin-bottom:0')
        .modal-content
          .panel-heading
            h3.panel-title Sign In
          |                     
          .panel-body
            form(role='form' ng-submit="login()")
              fieldset
                .form-group
                  input.form-control(placeholder='Username', name='username', type='username', autofocus='', ng-model='user_login_credentials.username')
                |                                 
                .form-group
                  input.form-control(placeholder='Password', name='password', type='password', value='', ng-model='user_login_credentials.password')
                |                                 
                .checkbox
                  label
                    input(name='remember', type='checkbox', value='Remember Me')
                    | Remember Me
                // Change this to a button or input when using this as a form
                input.btn.btn-sm.btn-success(type='submit', id="submit", value='Login')