.questions(ng-controller="QuestionsController as questions" layout="row" layout-align="center" )
  div(flex-xs="100" flex-sm="100" flex-md="75" flex="50")

    div(layout="row" layout-align="center")
      h1.t-center(flex="20") My questions


    div(layout="row" layout-align="center")
      md-divider.separator-h2(flex="35" hide-sm)
      h2.t-center(flex="30") Questions I have asked
      md-divider.separator-h2(flex="35" hide-sm)

    div(ng-repeat='article in questions.articlesWithQuestionUserAsked track by $index')
      div(layout='row' layout-align='center')
          div un {{article._id}}
          div Deux {{questions.articlesWithQuestionUserAsked[$index + 1]._id}}
          span(ng-if="$index < questions.articlesWithQuestionUserAsked.length - 1")
            //h2 IN IF
            span(ng-bind="$index  + 1")
      //div(layout='row' layout-align='center')
        div un
        div deux


    div(layout="row" layout-align="center")
      md-divider.separator-h2(flex="35" hide-sm)
      h2.t-center(flex="30") Questions to answer
      md-divider.separator-h2(flex="35" hide-sm)





  //div(layout="row" layout-align="center" ng-repeat='article in questions' +'.articlesWithQuestionUserAsked track by $index')
    p {{article}

