section.user-profile(layout="row" layout-align="center")



  div(layout="column" flex-sm="100" flex-md="100" flex="50")

    include ./properties/main.jade
    include ./properties/notation.jade
    include ./properties/article.jade

    div(layout="row" layout-align="end end")
      md-button.action-button.md-fab.md-primary(ng-click="profile.goToParameters()" aria-label="Edit your profile")
        ng-md-icon(icon="edit")




