section.user-profile(layout="row" layout-align="center")

  div(layout="column" flex-sm="100" flex-md="100" flex="50")
    md-card(flex-sm='100' flex-md="100" flex="50")
      md-card-content
        div(layout="row" layout-sm="column" layout-align="space-around start")
          img(src="../assets/images/users/profile_picture/160281_3_photo_781124_899A08_BD_3.jpg")

          div(layout="column")
            h1
              md-icon(ng-if="!profile.user.gender" md-svg-src="../assets/icons/gender-male-female" +
              ".svg"
              aria-label="gender-male-female")
              md-icon(ng-if="profile.user.gender.indexOf('female') > -1" md-svg-src="../assets/icons/gender-female.svg"
              aria-label="gender-female")
              md-icon(ng-if="profile.user.gender.indexOf('male') > -1" md-svg-src="../assets/icons/gender-male.svg"
              aria-label="gender-male")
              | {{profile.user.username}}

            div.properties-user
              div
                ng-md-icon(icon="cake" size="28")
                span(ng-if="!profile.user.birthdate") Not specified
                span(ng-if="profile.user.birthdate") {{profile.user.birthdate}}

              div
                ng-md-icon(icon="location_on" size="28")
                span(ng-if="!profile.user.within") Unknown
                span(ng-if="profile.user.within") {{profile.user.within}} km

              div
                ng-md-icon(icon="whatshot" size="28")
                span(ng-if="!profile.user.last_activity_date") Unknown
                span(ng-if="profile.user.last_activity_date") Last activity {{profile.user.last_activity_date}}

              div
                ng-md-icon(icon="insert_emoticon" size="28")
                span Subscribed {{profile.user.registered_date}}



    md-card(flex-sm='100' flex-md="100" flex="50")
      md-card-content
        div(layout="row" layout-align="center")
          md-divider.separator-h2(flex="30")
          h2.t-center(flex="20") Questions
          md-divider.separator-h2(flex="30")

        h3(flex-offset="10") As a renter
          span(ng-repeat="value in profile.user.global_notation_renter track by $index")
            ng-md-icon(ng-if="value" icon="star" size="22")
            ng-md-icon.grey(ng-if="!value" icon="star" style="fill:'grey'" size="22")
          span ({{profile.user.nb_mark_as_renter}})

        div(flex-offset="10" ng-repeat="notation in profile.user.notation_renter track by $index")
        md-list(flex-offset="10")
          md-list-item.md-3-line(ng-repeat="notation in profile.user.notation_renter track by $index")
            img(ng-src="../assets/images/users/profile_picture/160281_3_photo_781124_899A08_BD_3.jpg" class="md-avatar" alt="{{item.who}}")
            div.md-list-item-text(layout="column")
              h4 {{ notation.title_article }}
              div
                span(ng-repeat="value in notation.mark track by $index")
                  ng-md-icon(ng-if="value" icon="star" size="22")
                  ng-md-icon.grey(ng-if="!value" icon="star" style="fill:'grey'" size="22")
              p {{ notation.description | limitTo: 30 }} {{notation.description.length > 30 ? '...' : ''}}

        div(layout="row" layout-align="center")
          md-divider(flex="80")

        div(flex-offset="10")
          md-button.md-raised(layout-fill flex="90") Show more

    md-card(flex-sm='100' flex-md="100" flex="50")
      md-card-content
        div(layout="row" layout-align="center")
          md-divider.separator-h2(flex="45")
          h2.t-center(flex="15") Articles
          md-divider.separator-h2(flex="45")


//section(layout="column", layout-align="start center", layout-margin, flex)
    section(layout="row", layout-align="start center", layout-fill, flex).user_profile_header
        section(layout="column", layout-align="start center", flex="none").user_profile_header_left
            img(ng-src="../assets/images/users/profile_picture/unknown-user.png")
        section(layout="column", layout-align="start start", flex).user_profile_header_left
            span.user_profile_header_left_username {{ profile.user.username }}
            span.user_profile_header_left_rent Articles rented
            span.user_profile_header_left_rent_out Articles rent out
        section(layout="column", layout-align="start end", flex).user_profile_header_right
            div
                md-button.md-raised(ng-click="profile.goToParameters()") Manage account
