.user_profile_header {

	.user_profile_header_left {
		img {
			height : 150px;
			width : 150px;
			border-style : solid;
			border-width : 1px;
			border-color : grey;
		}

		.user_profile_header_left_username {
			font-size : x-large;
			margin-bottom : 50px;
			margin-left : 20px;
		}

		.user_profile_header_left_rent_out {
			margin-left : 20px;
		}

		.user_profile_header_left_rent {
			margin-left : 20px;
		}
	}

	.user_profile_header_right {
		div {
			height : 150px;
		}
	}
}