section.user-profile(layout="row" layout-align="center")
  md-card(flex-sm='100' flex="50")
    md-card-content
      div(layout="row" layout-align="space-around start")
        img(src="../assets/images/users/profile_picture/160281_3_photo_781124_899A08_BD_3.jpg")
        div(layout="column")
          h1 {{profile.user.username}}
          div Birthdate {{profile.user.birthdate}}
          div Last activity {{profile.user.last_activity_date}}
          div Subscribed {{profile.user.registered_date}}


//section(layout="column", layout-align="start center", layout-margin, flex)
    section(layout="row", layout-align="start center", layout-fill, flex).user_profile_header
        section(layout="column", layout-align="start center", flex="none").user_profile_header_left
            img(ng-src="../assets/images/users/profile_picture/unknown-user.png")
        section(layout="column", layout-align="start start", flex).user_profile_header_left
            span.user_profile_header_left_username {{ profile.user.username }}
            span.user_profile_header_left_rent Articles rented
            span.user_profile_header_left_rent_out Articles rent out
        section(layout="column", layout-align="start end", flex).user_profile_header_right
            div
                md-button.md-raised(ng-click="profile.goToParameters()") Manage account
