section(layout="column", layout-align="start center", layout-margin)
	section(layout="row", layout-align="start center", layout-fill).user_profile_header
		section(layout="column", layout-align="start center").user_profile_header_left
			img(ng-src="../assets/images/users/profile_picture/unknown-user.png")
		section(layout="column", layout-align="start start").user_profile_header_left
			span.user_profile_header_left_username.user_profile_header_left_info_block Username
			span.user_profile_header_left_rent_out Articles rent out
			span.user_profile_header_left_rent Articles rented