@import "../../theme.scss";

.user-profile {

  md-card {
    margin-top: 30px;

    md-button {
      margin-left: 0;
    }

    img {
      height: 300px;
      width: auto;
    }

    md-icon {
      height: 40px;
      width: 40px;
    }

    h1 {
      font-size: 2em;
      margin-top: 0;
      margin-left: -50px;
    }

    h2 {
      margin-top: 0;
    }

    .properties-user {

      div {
        margin-top: 20px;

        &:first-child {
          margin-top: 0;
        }

        ng-md-icon {
          padding-bottom: 12px;
        }

        span {
          font-size: 1.2em;
          padding-left: 5px;

        }

      }
    }

    md-list {
      img {
        width: 40px;
        height: auto;
      }
    }

  }

}

@media screen and (max-width: 1200px) {

  .user-profile {
    md-card {
      h1 {
        margin-left: 0px;
      }
    }
  }
}
