md-content
	div(layout="column", layout-fill).flex
		div.flex
			div(layout="column" flex layout-align="start center")
				div(flex="none")
					h1 Password reset
				div(flex="none").login-body
					form(name="passwordResetForm" novalidate ng-submit="passwordResetForm.$valid && passwordReset.submit()")
						section(layout="column", layout-align="start center", layout-margin)
							md-input-container
								ng-md-icon(icon="vpn_key")
								input(placeholder="New Password" type="password" name="new_password1" required ng-model="passwordReset.new_password1" maxlength="30" minlength="6").body-register-container-md
								div(ng-messages="passwordResetForm.new_password1.$error" ng-if="passwordResetForm.new_password1.$dirty")
									div(ng-message="required") This is required.
									div(ng-message="minlength") The password must be longer than 6 characters.
									div(ng-message="maxlength") The password must be shorter than 20 characters.
							md-input-container
								ng-md-icon(icon="vpn_key")
								input(placeholder="Confirm Password" type="password" name="new_password2" required ng-model="passwordReset.new_password2" maxlength="30" minlength="6" match="passwordReset.new_password1").body-register-container-md
								div(ng-messages="passwordResetForm.new_password2.$error" ng-if="passwordResetForm.new_password2.$dirty")
									div(ng-message="required") This is required.
									div(ng-message="minlength") The password must be longer than 6 characters.
									div(ng-message="maxlength") The password must be shorter than 20 characters.
									div(ng-message="match") Passwords must match
							md-button.md-raised Change password