div(style="margin-top: 10px;" ng-cloak)
md-divider.flex
div.search-article-toolbar
	md-toolbar(style="background-color:none" layout="row")
		span.main-sort-by SORT BY
		md-input-container
			md-select(ng-model="articleSearch.sortOption" md-container-class="article-search-sorting-select-container" multiple aria-label="sorting options")
				md-optgroup(label="sorts")
					md-option(ng-repeat="sort in articleSearch.sortingOptions track by $index" ng-value="sort" ng-click="articleSearch.manageSortOptions($event, sort)") {{sort}} <span style="font-size:small; font-weight: bold;">{{ articleSearch.optionSortOrderStatus(sort) }}</span>
		span.flex
		ng-md-icon(icon="keyboard_arrow_left" ng-click="articleSearch.onArrowClick(-1);" ng-if="articleSearch.search._pagination.page_number != 1").arrow-previous-page
		span.pagination-toolbar-search-article
			span(paging ng-click="articleSearch.onArrowClick(42);" page="articleSearch.search._pagination.page_number" page-size="articleSearch.search._pagination.items_per_page" total="articleSearch.totalItems" active-class="current-page-selected-search-article")
		span(style="margin-right: 20px;" ng-if="articleSearch.search._pagination.page_number >= articleSearch.totalItems / articleSearch.search._pagination.items_per_page")
		ng-md-icon(icon="keyboard_arrow_right" ng-click="articleSearch.onArrowClick(1);" ng-if="articleSearch.search._pagination.page_number < articleSearch.totalItems / articleSearch.search._pagination.items_per_page").arrow-next-page
md-divider.flex
div.search-article-body(ng-cloak)
	div.delimiter
	md-button.md-raised.save-search(ng-click='articleSearch.saveResearch()') Save your search
	div.delimiter
	section(layout="row", layout-align="start start")
		div(flex="none")
			section(layout="column", layout-align="start start")
				md-card.card-containers
					md-card-title(style="padding-bottom:0px;")
						md-card-title-text
							span.title-on-card Your research
					md-card-content
						md-input-container(style="margin-bottom:0px;")
							label Your Keyword
							input(name="searchKeywords" ng-model="articleSearch.titleKeywords")
						section(layout="row", layout-align="center center")
							md-button(ng-click="articleSearch.searchTitle(articleSearch.titleKeywords);" style="margin: 0 0 10 10").md-raised Search
						section(layout="row", layout-align="start start")
							span(flex="60") Search only in title
							span.flex
							md-switch(ng-model="articleSearch.searchOnlyInTitle" aria-label="search only in title").search-only-in-title-switch
				md-card.card-containers
					md-card-title
						md-card-title-text
							span.title-on-card Your availability
					md-card-content
						menu-collapse(title="Position" layout-fill)
							md-input-container(style="margin-bottom:0px;")
								label Your position
								input(name="searchKeywords").flex
							section(layout="row", layout-align="start start" style="margin-bottom:20px;")
								ng-md-icon(icon="my_location" flex="15")
								strong Near Me
								span.flex
						div
							menu-collapse(title="Date")
								div Begin location
								md-datepicker(name="beginDate" ng-model="articleSearch.beginDate" style="margin-left:-10px;")
								div End location
								md-datepicker(name="endDate" ng-model="articleSearch.endDate" style="margin-left:-10px;")
				md-card.card-containers
					md-card-title
						md-card-title-text
							span.title-on-card Clothes properties
					md-card-content
						menu-collapse(title="Categories")
							div(ng-repeat="category in articleSearch.categories")
								md-checkbox(ng-click="articleSearch.toggleFilter(0, category._id)").filters-checkboxes {{ category.name }}
						md-divider
						menu-collapse(title="Sub-Categories")
							div(ng-repeat="subCategory in articleSearch.subCategories")
								md-checkbox(ng-click="articleSearch.toggleFilter(1, subCategory._id)").filters-checkboxes {{ subCategory.name }}
						md-divider
						menu-collapse(title="Brands")
							div(ng-repeat="brand in articleSearch.brands")
								md-checkbox(ng-click="articleSearch.toggleFilter(2, brand._id)").filters-checkboxes {{ brand.name }}
						md-divider
						menu-collapse(title="Genders")
							div(ng-repeat="gender in articleSearch.genders")
								md-checkbox(ng-click="articleSearch.toggleFilter(3, gender._id)").filters-checkboxes {{ gender.name }}
						md-divider
						menu-collapse(title="Sizes")
							div(ng-repeat="size in articleSearch.sizes")
								md-checkbox(ng-click="articleSearch.toggleFilter(4, size._id)").filters-checkboxes {{ size.name }}
						md-divider
						menu-collapse(title="Colors")
							div(ng-repeat="color in articleSearch.clothe_colors")
								md-checkbox(ng-click="articleSearch.toggleFilter(5, color._id)").filters-checkboxes {{ color.name }}
						md-divider
						menu-collapse(title="States")
							div(ng-repeat="state in articleSearch.clothe_states")
								md-checkbox(ng-click="articleSearch.toggleFilter(6, state._id)").filters-checkboxes {{ state.name }}
				md-card.card-containers
					md-card-title
						md-card-title-text
							span.title-on-card Transaction Modalities
					md-card-content(style="padding-bottom:0px;")
						menu-collapse(title="Payment Methods")
							div(ng-repeat="method in articleSearch.payment_methods")
								md-checkbox(ng-click="articleSearch.toggleFilter(7, method._id)").filters-checkboxes {{ method.name }}
						md-divider(style="margin-top:10px;")
						section(layout="row", layout-align="start start" style="margin-top: 10px;")
							span Caution
							span.flex
							md-switch(ng-model="articleSearch.isCaution" aria-label="caution").search-only-in-title-switch
		div(layout-margin style="margin-top: 0px;").flex
			md-grid-list(md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-row-height="200px" md-cols-gt-md="4" md-gutter="20px")
				md-grid-tile(style="background: yellow;" md-colspan="1" md-rowspan="2" ng-repeat="article in articleSearch.articles.articles")
					md-card(layout-fill ng-click="articleSearch.goToArticlePage(article._id)").article-card-tile
						div(style="position: relative;")
							div(ng-if="article.base_category == '56cb3d46b2bc57ab2908e69a'").category-triangle-fancy
							div(ng-if="article.base_category == '56cb3d13b2bc57ab2908e698'").category-triangle-disguise
							div(ng-if="article.base_category == '56cb3d17b2bc57ab2908e699'").category-triangle-sport
						md-card-content(layout="column", layout-align="start center")
							div(style="position: relative;")
								img(ng-src="{{ articleSearch.url_api + article.url_thumbnail }}").thumbnail-pic
								div.icon-favorite-disabled
									ng-md-icon(icon="favorite" size="32")
							h3.title-article {{ article.title | limitTo:articleSearch.limitTitle }} <span ng-if='article.title.length > articleSearch.limitTitle'>...</span>
							h2.price-article {{ article.price }}€/day
							span(ng-bind-html="article.description | limitTo:articleSearch.limitDescription")

					md-grid-tile-footer
						span.distance-range Within 0 km
md-divider.flex
div.search-article-toolbar
	md-toolbar(style="background-color:none" layout="row")
		span.flex
		ng-md-icon(icon="keyboard_arrow_left" ng-click="articleSearch.onArrowClick(-1);" ng-if="articleSearch.search._pagination.page_number != 1").arrow-previous-page
		span.pagination-toolbar-search-article
			span(paging ng-click="articleSearch.onArrowClick(42);" page="articleSearch.search._pagination.page_number" page-size="articleSearch.search._pagination.items_per_page" total="articleSearch.totalItems" active-class="current-page-selected-search-article")
		span(style="margin-right: 20px;" ng-if="articleSearch.search._pagination.page_number >= articleSearch.totalItems / articleSearch.search._pagination.items_per_page")
		ng-md-icon(icon="keyboard_arrow_right" ng-click="articleSearch.onArrowClick(1);" ng-if="articleSearch.search._pagination.page_number < articleSearch.totalItems / articleSearch.search._pagination.items_per_page").arrow-next-page
md-divider.flex
div(style="margin-bottom:10px;")
