div(style="margin-top: 10px;")
md-divider.flex
div.search-article-toolbar
	md-toolbar(style="background-color:none" layout="row")
		span.main-sort-by SORT BY
		md-input-container
			md-select(ng-model="articleSearch.sortOption" md-container-class="article-search-sorting-select-container" multiple)
				md-optgroup(label="sorts")
					md-option(ng-repeat="sort in articleSearch.sortingOptions" value="{{sort}}") {{ sort }}
		span.flex
		ng-md-icon(icon="keyboard_arrow_left" ng-click="articleSearch.onArrowClick(-1);" ng-if="articleSearch.search._pagination.page_number != 1").arrow-previous-page
		span.pagination-toolbar-search-article
			span(paging page="articleSearch.search._pagination.page_number" page-size="articleSearch.search._pagination.items_per_page" total="articleSearch.totalItems" active-class="current-page-selected-search-article")
		span(style="margin-right: 20px;" ng-if="articleSearch.search._pagination.page_number >= articleSearch.totalItems / articleSearch.search._pagination.items_per_page")
		ng-md-icon(icon="keyboard_arrow_right" ng-click="articleSearch.onArrowClick(1);" ng-if="articleSearch.search._pagination.page_number < articleSearch.totalItems / articleSearch.search._pagination.items_per_page").arrow-next-page
md-divider.flex
div.search-article-body
	div.delimiter
	md-button.md-raised.save-search Save your search
	div.delimiter
	section(layout="row", layout-align="start start")
		div(flex="25")
			section(layout="column", layout-align="start start")
				md-card.card-containers
					md-card-title
						md-card-title-text
							span.title-on-card Your research
					md-card-content
						md-input-container
							label Your Keyword
							input(name="searchKeywords")
						section(layout="row", layout-align="start start")
							span(flex="60") Search only in title
							span.flex
							md-switch(ng-model="articleSearch.searchOnlyInTitle").search-only-in-title-switch