.search-article-toolbar {
	md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
		background-color: transparent;
		color:black;
	}

	md-toolbar {
		min-height: 0px;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.main-sort-by {
		margin-left: 20px !important;
		color: black;
		margin: 0;
	}

	md-select {
		margin: -7px 0px 0px 5px;
	}

	md-input-container {
		margin: 0px 0px 0px 5px;
	}

	_md-text {
		display:inline-block;
	}

	.arrow-icons {
		cursor: pointer;
	}

	.arrow-previous-page {
		@extend .arrow-icons;
		margin-right: 3px;
	}

	.arrow-next-page {
		@extend .arrow-icons;
		margin-right: 20px;
	}

	.pagination-toolbar-search-article {

		.pagination {
			margin: 0px;
		}


		ul {
		    list-style-type: none;
		    padding: 0px;
		}
		li {
			margin-right: 3px;
			display:inline-block;
		}

		a.md-default-theme:hover:not(.md-button), a:hover:not(.md-button) {
			color: $onNumber;
		}

		li:not(.current-page-selected-search-article) {
			a {
				color: $paginateStill;
			}
		}

		a {
			text-decoration: none;
			color: $onNumber;
		}
	}
}

.search-article-body {

	.delimiter {
		margin-top: 20px;
	}

	.save-search {
		min-width: 200px;

		background-color: $saveSearch;
		color: $saveSearchFont;
		&:hover:not([disabled]){
			background-color: $saveSearchBrighter;
		}
	}

    md-checkbox.md-checked ._md-icon {
      background-color: $checkBox;
    }

	.filters-checkboxes {
		margin-left: 10px;
		margin-bottom: 5px;
	}

	.card-containers {

		min-width: 200px;
		max-width: 200px;
		width: 200px;

		.title-on-card {
			color: $headerSubContainers;
			font-size: 20px;
		}
	}

	.search-only-in-title-switch {
		margin-top: 0px;
	}

	md-switch.md-checked ._md-bar {
		background-color: $checkBox;
	}

	md-switch.md-checked ._md-thumb {
		background-color: $checkBox;
	}

	.article-card-tile {
		cursor: pointer;

		.thumbnail-pic {
			width: 200px;
			height: 200px;
		}

		.icon-favorite {
			position: absolute;
			top: 160px;
			left: 150px;
			cursor: pointer;
		}

		.icon-favorite-disabled {
			@extend .icon-favorite;
			opacity: 0.5;
			&:hover {
				opacity: 1;
				color: $favoriteIcon;
			}
		}

		.icon-favorite-enabled {
			@extend .icon-favorite;
			opacity: 1;
			color: $favoriteIcon;
		}

		.title-article {
			margin-bottom: 0px;
		}

		.price-article {
			margin-top: 0px;
			margin-bottom: 0px;
			color: $articlePrice;
		}
	}

	.distance-range {
		margin-left: 10px;
	}

}

.article-search-md-card-collapse {

	position: relative;
	z-index: 1;
	animation: slideInDown 0.5s;
}

.article-search-sorting-select-container {
	margin: 95px 0px 0px 35px;
}

.current-page-selected-search-article {
	color: $onNumber;
}