.search-article-toolbar {
	md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
		background-color: transparent;
		color:black;
	}

	md-toolbar {
		min-height: 0px;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.main-sort-by {
		margin-left: 5px;
		color: black;
		margin: 0;
	}

	md-select {
		margin: -7px 0px 0px 5px;
	}

	md-input-container {
		margin: 0px 0px 0px 5px;
	}

	_md-text {
		display:inline-block;
	}

	.pagination-toolbar-search-article {
		ul {
		    list-style-type: none;
		}
		li {
			margin-right: 3px;
			display:inline-block;
		}

		a.md-default-theme:hover:not(.md-button), a:hover:not(.md-button) {
			color: $onNumber;
		}

		a.md-default-theme:not(.md-button), a:not(.md-button) {
			color: $paginateStill;
		}
	}
}

.article-search-sorting-select-container {
	margin: 75px 0px 0px 20px;
}