div(layout="row", layout-align="center center")
	h2 Notations
div(style="margin-top:40px;")
div(layout="row")
	span.flex
	div(flex="70").article-requests-body
		div(layout="row" layout-align="center start")
			span(flex="25").special-divider
				md-divider
			h3.title-request-category.flex Clients
			span(flex="25").special-divider
				md-divider
		div(style="margin-top:20px;")
		div(ng-if="articleNotation.notationsClient.length < 1 && articleNotation.notationsClient != true")
			p(style="text-align: center;") There are no clients to give a mark to at the moment.
		div(ng-repeat="demand in articleNotation.notationsClient track by $index")
			div(layout="row" layout-align="center")
				md-card.card-information-demand-big-screen(hide-md hide-sm hide-xs flex="60")
					img(flex="none" src="../assets/images/users/profile_picture/160281_3_photo_781124_899A08_BD_3.jpg").img-icon-demand-article