/*Red*/
$navbar-background : #C10000;
$checkBox : #C10000;
$headerSubContainers : #C10000;
$deleteIcon : #C10000;
$emailNotConfirmed : #C10000;
/*Grey*/
$headerContainer : #A6A6A6;
$noInfo : #A6A6A6;
$selectedTab : #A6A6A6;
/*White*/
$bodyContainer : #FFFFFF;
/*Green*/
$emailConfirmed : #0BAC2B;