/*Red*/
$navbar-background : #C10000;
$checkBox : #C10000;
$headerSubContainers : #C10000;
$deleteIcon : #C10000;
$emailNotConfirmed : #C10000;
$newNotification:#C10000;
$progressBar:#C10000;
$progressIcon:#C10000;
/*Grey*/
$headerContainer : #A6A6A6;
$noInfo : #A6A6A6;
$selectedTab : #A6A6A6;
/*Darker Grey*/
$dropIcon: #666666;
/*White*/
$bodyContainer : #FFFFFF;
/*Green*/
$emailConfirmed : #0BAC2B;
/*Black*/
$iconHover : #000000;
/*Purple-Blue*/
$iconNotification: #3F51B5;