md-card(layout-fill)
	md-card-title(layout="row", layout-align="center center").body-title-step
		md-card-title-text
			h3 Preview of your article
	md-card-content(layout="column", layout-align="center center")
		h1 Congratulation ! There will be a preview here.
		md-button(ng-click="articleCreate.submit()").md-raised Create the article