md-card(layout-fill)
	md-card-title(layout="row", layout-align="center center").body-title-step
		md-card-title-text
			h3 Characteristic of your article
	md-card-content(layout="column", layout-align="start start")
		form(name="articleFormStep2" novalidate ng-submit="articleFormStep2.$valid && articleCreate.nextStep(2)", layout="column", layout-align="center center")
			p
				md-title The gender
				span
					ng-md-icon(icon="help", size="20")
						md-tooltip(md-direction="right") It defines for which gender the clothe is meant to be for
				span
					md-input-container
						md-select(ng-model="articleCreate.base_category", name="base_category", placeholder="Gender", required)
							md-option(ng-value="opt._id", ng-repeat="opt in articleCreate.categories") {{ opt.name }}
						div(ng-messages="articleFormStep1.base_category.$error" ng-if='!articleFormStep1.base_category.$pristine')
							div(ng-message="required") This is required.