md-card(layout-fill)
	md-card-title(layout="row", layout-align="center center").body-title-step
		md-card-title-text
			h3 Define your article
	md-card-content(layout="column", layout-align="center center")
		form(name="articleForm" novalidate ng-submit="articleForm.$valid && articleCreate.submit()", layout="column", layout-align="center center")
			p
				md-title The title of your article
				span
					ng-md-icon(icon="help", size="20")
						md-tooltip(md-direction="right") This will be the title of your article. It will be displayed in the search, and will appear as the main sentence on top of your article's page
			md-input-container.input-centered
				input(placeholder="Title" required name="title" ng-model="articleCreate.title" maxlength="50" minlength="3").input-title
				div(ng-messages="articleForm.title.$error" ng-if='!articleForm.title.$pristine')
					div(ng-message="required") This is required.
					div(ng-message="minlength") The title must be longer than 3 characters.
					div(ng-message="md-maxlength") The title must be shorter than 50 characters.