md-card(layout-fill)
	md-card-title(layout="row", layout-align="center center").body-title-step
		md-card-title-text
			h3 The pictures of your article
	md-card-content(layout="column", layout-align="center center")
		form(name="articleFormStep4" novalidate ng-submit="articleFormStep4.$valid && articleCreate.nextStep(4)", layout="column", layout-align="center center")
			p
				md-title The thumbnail picture
				span
					ng-md-icon(icon="help", size="20")
						md-tooltip(md-direction="right") It is the main picture for your article. it will be displayed in the search and in the top of your article.
			img(ngf-src="articleCreate.pictures[0] || 'http://localhost:3000/assets/images/articles/default.jpg'" ngf-select ng-model="articleCreate.pictures[0]" name="file" ngf-pattern="'image/*'"
				accept="image/*" ngf-max-size="2MB" ngf-min-height="100" 
				ngf-resize="{width: 300, height: 300}" style="cursor: pointer;").logo-picture
			md-button.md-raised Next Step