md-card(layout-fill)
	md-card-title(layout="row", layout-align="center center").body-title-step
		md-card-title-text
			h3 {{ 'ARTICLE_CHARACTERISTIC' | translate }}
	md-card-content(layout="column", layout-align="center center")
		form(name="articleFormStep2" novalidate ng-submit="articleFormStep2.$valid && articleCreate.nextStep(2)", layout="column", layout-align="center center")
			section.my-layout-xs(layout="row", layout-align="center center")
				p
					md-title {{ 'GENDER' | translate }}
					span
						ng-md-icon(icon="help", size="20")
							md-tooltip(md-direction="right") {{ 'TOOLTIP_GENDER' | translate }}
					md-input-container
						md-select(ng-model="articleCreate.article.gender", name="gender", placeholder="{{ 'GENDER' | translate }}", required)
							md-option(ng-value="opt", ng-repeat="opt in articleCreate.genders") {{ opt.name }}
						div(ng-messages="articleFormStep2.gender.$error" ng-if='!articleFormStep2.gender.$pristine')
							div(ng-message="required") {{ 'THIS_IS_REQUIRED' | translate }}.
				p.separate-aligned-blocks
					md-title {{ 'SIZE' | translate }}
					span
						ng-md-icon(icon="help", size="20")
							md-tooltip(md-direction="right") {{ 'TOOLTIP_SIZE' | translate }}
					md-input-container
						md-select(ng-model="articleCreate.article.size", name="size", placeholder="{{ 'SIZE' | translate }}", required)
							md-option(ng-value="opt", ng-repeat="opt in articleCreate.sizes") {{ opt.name }}
						div(ng-messages="articleFormStep2.size.$error" ng-if='!articleFormStep2.size.$pristine')
							div(ng-message="required") {{ 'THIS_IS_REQUIRED' | translate }}.
				p.separate-aligned-blocks
					md-title {{ 'COLOR' | translate }}
					span
						ng-md-icon(icon="help", size="20")
							md-tooltip(md-direction="right") {{ 'TOOLTIP_COLOR' | translate }}
					md-input-container
						md-select(ng-model="articleCreate.article.color", name="color", placeholder="{{ 'COLOR' | translate }}", required)
							md-option(ng-value="opt", ng-repeat="opt in articleCreate.clothe_colors") {{ opt.name }}
						div(ng-messages="articleFormStep2.color.$error" ng-if='!articleFormStep2.color.$pristine')
							div(ng-message="required") {{ 'THIS_IS_REQUIRED' | translate }}.
				p.separate-aligned-blocks
					md-title {{ 'STATE' | translate }}
					span
						ng-md-icon(icon="help", size="20")
							md-tooltip(md-direction="right") {{ 'TOOLTIP_STATE' | translate }}
					md-input-container
						md-select(ng-model="articleCreate.article.clothe_condition", name="state", placeholder="{{ 'STATE' | translate }}", required)
							md-option(ng-value="opt", ng-repeat="opt in articleCreate.clothe_states") {{ opt.name }}
						div(ng-messages="articleFormStep2.state.$error" ng-if='!articleFormStep2.state.$pristine')
							div(ng-message="required") {{ 'THIS_IS_REQUIRED' | translate }}.
			p
				md-title {{ 'BRAND' | translate }}
				span
					ng-md-icon(icon="help", size="20")
						md-tooltip(md-direction="right") {{ 'TOOLTIP_BRAND' | translate }}
				md-input-container
					md-select(ng-model="articleCreate.article.brand", name="brand", placeholder="{{ 'BRAND' | translate }}", required)
						md-option(ng-value="opt", ng-repeat="opt in articleCreate.brands") {{ opt.name }}
					div(ng-messages="articleFormStep2.brand.$error" ng-if='!articleFormStep2.brand.$pristine')
						div(ng-message="required") {{ 'THIS_IS_REQUIRED' | translate }}.
			md-button.md-raised(type="submit") {{ 'NEXT_STEP' | translate }}
