
div(class="article-show" )

  div(layout='row' layout-align='space-between start')
    div(flex="33" style="background-color: blue")
      img(src="http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=135603516")
    div(flex="33"  style="background-color: yellow; text-align:center;")
      p Robe bleu<br> toto (10)
        ng-md-icon(icon="star_rate" size="40")
        ng-md-icon(icon="star_rate" size="40")
        ng-md-icon(icon="star_rate" size="40")
        ng-md-icon(icon="star_rate" size="40")
        ng-md-icon(icon="star_rate" size="40")
    div(flex="33" style="background-color: red; text-align:right;")
      p three



  div.grid-gallery(layout='row' layout-align='center')
    div(style='background-color:orange;')
      img(ng-click="articleShow.clickImageGallery($event, 0, articleShow.url_pictures)" src="http://www.voguequeen.com/images/dresses/bridesmaids/20120921/fashion-chiffon-a-line-strapless-sleeveless-short-length-empire-bridesmaid-dress_120920005.jpg")
      img(ng-click="articleShow.clickImageGallery($event, 1, articleShow.url_pictures)" src="http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=135603516")
      img(ng-click="articleShow.clickImageGallery($event, 2, articleShow.url_pictures)" src="http://cdn.shopify.com/s/files/1/0293/9277/products/Fashion_Nova_-_01-21-16-410_large.JPG?v=1453489020")

  //Si index % 3 == 0 on ajout une nouvelle grid
  div.grid-gallery(layout='row' layout-align='center')
    div(style='background-color:orange;')
      img(ng-click="articleShow.clickImageGallery($event, 3, articleShow.url_pictures)" src="http://www.voguequeen.com/images/dresses/bridesmaids/20120921/fashion-chiffon-a-line-strapless-sleeveless-short-length-empire-bridesmaid-dress_120920005.jpg")
      img(ng-click="articleShow.clickImageGallery($event, 4, articleShow.url_pictures)" src="http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=135603516")
      img(ng-click="articleShow.clickImageGallery($event, 5, articleShow.url_pictures)" src="http://cdn.shopify.com/s/files/1/0293/9277/products/Fashion_Nova_-_01-21-16-410_large.JPG?v=1453489020")


  div(layout='row' layout-align='center')
    p(style='background-color:purple' flex="50").description At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repell

  md-content
    md-list
      md-subheader.md-no-sticky
      md-list-item.md-3-line(ng-repeat='comment in articleShow.comments')
        img.md-avatar(ng-src='https://material.angularjs.org/latest/img/list/60.jpeg?0', alt='{{item.who}}')
        .md-list-item-text(layout='column')
          h3 {{ comment.username_author}}
          h4 {{ comment.date_created }}
          p {{ comment.content }}
        md-divider

