
div(class="article-show")

  div(flex-offset="20" layout="row" layout-sm="column")
    div()
      img(src="{{articleShow.url_thumbnail}}")

    div(layout='column')
      h1 {{articleShow.title}}
      span {{articleShow.username_author}}
        ng-md-icon(icon="star_rate" size="40")
        ng-md-icon(icon="star_rate" size="40")
        ng-md-icon(icon="star_rate" size="40")
        ng-md-icon(icon="star_rate" size="40")
        ng-md-icon(icon="star_rate" size="40")
      md-card(class='about')
        md-content
          md-subheader.md-no-sticky About the clothe
          md-divider
          md-list-item.md-2-line
            ng-md-icon(icon="person_outline")
            div.md-list-item-text
              h3 Gender
              p {{articleShow.sexe}}
          md-divider
          md-list-item.md-2-line
            ng-md-icon(icon="person_outline")
            div.md-list-item-text
              h3 Main Category
              p {{articleShow.BaseCategory }}
          md-divider
            md-list-item.md-2-line
              ng-md-icon(icon="person_outline")
              div.md-list-item-text
                h3 Sub Category
                p {{articleShow.SubCategory }}
          md-divider
            md-list-item.md-2-line
              ng-md-icon(icon="person_outline")
              div.md-list-item-text
                h3 Size
                p {{articleShow.size }}
          md-divider
            md-list-item.md-2-line
              ng-md-icon(icon="person_outline")
              div.md-list-item-text
                h3 Size
                p {{articleShow.brand }}
          md-divider
            md-list-item.md-2-line
              ng-md-icon(icon="person_outline")
              div.md-list-item-text
                h3 Size
                p {{articleShow.state }}
          md-divider
            md-list-item.md-2-line
              ng-md-icon(icon="person_outline")
              div.md-list-item-text
                h3 Size
                p {{articleShow.price }}
          md-divider
            md-list-item.md-2-line
              ng-md-icon(icon="person_outline")
              div.md-list-item-text
                h3 Size
                p {{articleShow.state }}


    //div()
      md-card
        md-card-content this is a card



  //div(ng-repeat='image in articleShow.url_pictures track by $index')








  div.grid-gallery(layout='row' layout-align='center')
    div(style='background-color:orange;')
      img(ng-click="articleShow.clickImageGallery($event, 0, articleShow.url_pictures)" src="http://www.voguequeen.com/images/dresses/bridesmaids/20120921/fashion-chiffon-a-line-strapless-sleeveless-short-length-empire-bridesmaid-dress_120920005.jpg")
      img(ng-click="articleShow.clickImageGallery($event, 1, articleShow.url_pictures)" src="http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=135603516")
      img(ng-click="articleShow.clickImageGallery($event, 2, articleShow.url_pictures)" src="http://cdn.shopify.com/s/files/1/0293/9277/products/Fashion_Nova_-_01-21-16-410_large.JPG?v=1453489020")

  //Si index % 3 == 0 on ajout une nouvelle grid
  div.grid-gallery(layout='row' layout-align='center')
    div(style='background-color:orange;')
      img(ng-click="articleShow.clickImageGallery($event, 3, articleShow.url_pictures)" src="http://www.voguequeen.com/images/dresses/bridesmaids/20120921/fashion-chiffon-a-line-strapless-sleeveless-short-length-empire-bridesmaid-dress_120920005.jpg")
      img(ng-click="articleShow.clickImageGallery($event, 4, articleShow.url_pictures)" src="http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=135603516")
      img(ng-click="articleShow.clickImageGallery($event, 5, articleShow.url_pictures)" src="http://cdn.shopify.com/s/files/1/0293/9277/products/Fashion_Nova_-_01-21-16-410_large.JPG?v=1453489020")


  div(layout='row' layout-align='center')
    md-card(flex="50")
      md-card-content.description {{articleShow.description}}


  md-content()
    md-list
      md-subheader.md-no-sticky
      md-list-item.md-3-line( ng-repeat='parentComment in articleShow.comments track by $index' layout-align='center')
        img.md-avatar( ng-src='http://localhost:3000/assets/images/users/profile_picture/unknown-user.png', alt='{{parentComment.username_author}}')
        .md-list-item-text( layout='column')
          h3 {{ parentComment.username_author}}
          h4 {{ parentComment.date_created }}
          p {{ parentComment.content }}
          p
            a(href='#' ng-click='articleShow.replyComment[$index] = !articleShow.replyComment[$index]') reply
            a(href='#' ng-if="parentComment.childs.length" ng-hide='articleShow.showChildComment[$index]' ng-click="articleShow.showChildComment[$index] = !articleShow.showChildComment[$index]")  Show more
            a(href='#' ng-if="parentComment.childs.length" ng-show='articleShow.showChildComment[$index]' ng-click="articleShow.showChildComment[$index] = !articleShow.showChildComment[$index]")  Show less

          md-input-container.md-block(ng-show='articleShow.replyComment[$index]')
            label Write a new comment
            textarea(ng-model='articleShow.childNewComment.$index' input-comment="articleShow.submitComment(articleShow.parentNewComment)")

          md-list-item.md-3-line(ng-repeat='childComment in parentComment.childs' ng-show='articleShow.showChildComment[$index]')
            img.md-avatar(ng-src='http://localhost:3000/assets/images/users/profile_picture/unknown-user.png', alt='{{parentComment.username_author}}')
            .md-list-item-text(layout='column')
              h3 {{ parentComment.username_author}}
              h4 {{ parentComment.date_created }}
              p {{ parentComment.content }}
            md-divider

        md-divider
    md-input-container.md-block
      label Write a new comment
      textarea(ng-model='articleShow.parentNewComment' input-comment="articleShow.submitComment(articleShow.parentNewComment)")

