div.article-show(layout="row" layout-align="center")
  div(flex-xs="100" flex-sm="100" flex-md="75" flex="50")

    div(layout="row" layout-align="center")
      div
        h1 {{articleShow.data.title}}
        br
        div.subtitle(layout="row")
          h2 By <a href="/profile/{{articleShow.username_author}}"> {{articleShow.username_author}} </a>
          span
            ng-md-icon(icon="star" size="22")
            ng-md-icon(icon="star" size="22")
            ng-md-icon(icon="star" size="22")
            ng-md-icon(icon="star" size="22")
            ng-md-icon(icon="star" size="22")
            span ({{articleShow.nb_renter_notation}})



    div(layout="row" layout-align="center")
      data-owl-carousel.owl-carousel.owl-theme(flex="50" flex-xs="100" data-options="{nav: true," +
      " " +
      "autoplay:true," +
      " " +
  "autoplayTimeout:5000, loop:true, items: 1, " +
      "lazyLoad:true, autoWidth:false}")
        .item(owl-carousel-item='', ng-repeat='url_picture in articleShow.carousel track by $index')
          img(ng-src="{{url_picture}}")


    div.my-layout-xs(layout="row")
      md-card(flex="50" flex-xs="100")
        md-card-content

          div.block-properties(layout="row")
            div.name-properties(flex="50") Price
            div.t-right(flex="50") {{articleShow.data.price}}$/day
          md-divider
          div.block-properties(layout="row")
            div.name-properties(flex="50") Payment
            div.t-right(flex="50")
              span(ng-repeat="payment in articleShow.name_payment_methods track by $index") {{$first ? '' : ', '}} {{payment}}

          md-divider
          div.block-properties(layout="row")
            div.name-properties(flex="50") Within
            div.t-right(flex="50") {{articleShow.within}} km
          md-divider
          div.block-properties(layout="row")
            div.name-properties(flex="50") Main Category
            div.t-right(flex="50") {{articleShow.name_category}}
          md-divider
          div.block-properties(layout="row")
            div.name-properties(flex="50") Sub Category
            div.t-right(flex="50") {{articleShow.name_subCategory}}
          md-divider
          div.block-properties(layout="row")
            div.name-properties(flex="50") Gender
            div.t-right(flex="50") {{articleShow.name_gender}}
          md-divider
          div.block-properties(layout="row")
            div.name-properties(flex="50") Size
            div.t-right(flex="50") {{articleShow.name_size}}
          md-divider
          div.block-properties(layout="row")
            div.name-properties(flex="50") Color
            div.t-right(flex="50") {{articleShow.name_clothe_colors}}
          md-divider
          div.block-properties(layout="row")
            div.name-properties(flex="50") State
            div.t-right(flex="50") {{articleShow.name_clothe_states}}
          md-divider
          div.block-properties(layout="row")
            div.name-properties(flex="50") Brand
            div.t-right(flex="50") {{articleShow.name_brand}}
          md-divider


      md-card.reservation(flex="50" flex-xs="100")
        md-card-content(flex="flex" layout-fill)

          div.date(layout="column" layout-align="start")
            md-datepicker( ng-model="articleShow.AskBeginLocation"
            md-placeholder="Begin location")
            md-datepicker(ng-model="articleShow.AskEndLocation" md-placeholder="End location")
            //md-button.md-raised Ask for rent

          div.rent(layout="column" flex="flex" layout-align="start" )
            md-button.md-raised Ask for rent

          div.favorite-share(layout="column" flex="flex" layout-align="end" )
            div.details
              span
                a(href='#')
                  ng-md-icon(icon="favorite")
                  span.bottom-right-md-card Add to your favorites
            div.details
              span
                ng-md-icon(icon="share")
                span.bottom-right-md-card Share it
                span
                  ng-md-icon(icon="facebook")
                  ng-md-icon(icon="twitter")

            div.details
              span
                //a(facebook class="facebookShare" data-url='http://google.com'data-shares='shares') {{ shares }}
                a(href='#')
                  ng-md-icon(icon="warning")
                  span.bottom-right-md-card Send a report






    div(layout="row" layout-align="center")
      md-divider.separator-h2(flex="45")
      h2.t-center(flex="15") Description
      md-divider.separator-h2(flex="45")

    div(layout="row" layout-align="center")
      md-card(flex="100")
        md-card-content
          div.description(ng-bind-html='articleShow.data.description')




    div(layout="row" layout-align="center")
      md-divider.separator-h2(flex="45")
      h2.t-center(flex="15") Questions
      md-divider.separator-h2(flex="45")

    div.question(layout="row" layout-align="center" ng-if="articleShow.questions.length === 0")
      div(layout="column")
        md-input-container.md-block
          label Be the first one to ask something
          textarea(ng-model="articleShow.askQuestion" md-maxlength="150" rows="5" md-select-on-focus)


    div.question(layout="row" layout-align="center" ng-repeat="question in articleShow.questions | limitTo: articleShow.paginationLimit()" ng-if="question.is_visible")
      div(layout="column")
        div {{question.content}} (Ask by {{question.username_author}})
        div
          ng-md-icon(icon="warning")
          ng-md-icon(icon="thumb_up")
          span +{{question.is_useful.length}}
        div(flex-offset="10") {{question.response.content}}

    div.t-center.submit(ng-show="articleShow.hasMoreItemsToShow()" ng-click="articleShow.showMoreItems()")
      md-button.md-raised Show more







    div(layout="row" layout-align="center")
      md-divider.separator-h2(flex="40")
      h2.t-center(flex="20") We Recommend
      md-divider.separator-h2(flex="40")
    div(layout='row' layout-align='center')
      data-owl-carousel.owl-carousel(data-options='{navigation: false, pagination: true, ' +
      'rewindNav : false, loop: true, autoWidth: true, autoplay:true, autoplayTimeout:1000}')
        .item(owl-carousel-item='', ng-repeat='url_picture in articleShow.url_pictures track by $index')
          img(src="{{url_picture}}" style='width:200px; height:auto;')
          div(layout-align="center" layout="row")
            span.bold 12$
