
.article-show {

  ng-md-icon {
    height: 40px;
    width: 20px;
    margin-top: -2px;
  }
/*
  .description {
    text-align: justify;
  }*/

  .grid-gallery {
    // width: auto;
    // height: 100px;

    img {
      width: auto;
      height: 250px;
      cursor: pointer;
    }
  }
}

/*Slider Css */
.article-show-slider {



    width: 450px;


  overflow-x: hidden;

  img {
    width: 450px;
    height: auto;
  }

  /*---------------------------------------------------------
NAV
---------------------------------------------------------*/
  .nav {
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    left: 0;
    bottom: -4px;
    right: 0;
    height: 48px;

    .wrapper {
      margin: 0 auto;
      width: 100%;
      padding: 1em 0 .8em;
    }

    ul {
      margin: 0;
      width: 100%;
    }

    .dot, .dot a {
      display: inline-block;
      zoom: 1;
    }

    .dots {

      padding-left: 0;

      .dot {
        position: relative;
        margin: 0 8px;
        width: 12px;
        height: 12px;

        a {
          position: absolute;
          top: 2px;
          left: 2px;
          width: 6px;
          height: 6px;
          text-indent: 100%;
          white-space: nowrap;
          overflow: hidden;
          background: #FFF;
          border: 1px solid transparent;
          outline: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          -webkit-transition: background-color 0.25s, border-color 0.25s;
          -moz-transition: background-color 0.25s, border-color 0.25s;
          transition: background-color 0.25s, border-color 0.25s;

          &.active {
            border-color: #FFF;
            background-color: transparent;
          }
        }
      }

    }

  }

  /* Arrow nav */

  .arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(http://onehungrymind.com/demos/slider/assets/img/blank.gif) no-repeat;

    &.prev {
      opacity: 0.2;
      left: 20px;
      background-image: url(http://onehungrymind.com/demos/slider/assets/img/paddle_prev_999.png);
      transition: 0.2s linear all;

      &:hover {
        opacity: 1;
        background-image: url(http://onehungrymind.com/demos/slider/assets/img/paddle_prev_fff.png);
      }
    }

    &.next {
      opacity: 0.2;
      right: 20px;
      background-image: url(http://onehungrymind.com/demos/slider/assets/img/paddle_next_999.png);
      transition: 0.2s linear all;

      &:hover {
        opacity: 1;
        background-image: url(http://onehungrymind.com/demos/slider/assets/img/paddle_next_fff.png);
      }
    }
  }

}

/* Animation CSS */


.slide-animation-right.ng-hide-add, .slide-animation-right.ng-hide-remove {
  -webkit-animation: slideOutLeft1s;
  -moz-animation: slideOutLeft 1s;
  -ms-animation: slideOutLeft 1s;
  animation: slideOutLeft 1s;
}

.slide-animation-right.ng-hide {
  -webkit-animation: slideOutLeft 1s;
  -moz-animation: slideOutLeft 1s;
  -ms-animation: slideOutLeft 1s;
  animation: slideOutLeft 1s;

}


/*.slide-animation.ng-hide-add, .slide-animation.ng-hide-remove {
  -webkit-animation: slideOutRight 1s;
  -moz-animation: slideOutRight 1s;
  -ms-animation: slideOutRight 1s;
  animation: slideOutRight 1s;
}

.slide-animation.ng-hide {
  -webkit-animation: slideOutRight 1s;
  -moz-animation: slideOutRight 1s;
  -ms-animation: slideOutRight 1s;
  animation: slideOutRight 1s;

}*/
