@import "../../theme.scss";

.article-show {

  h1 {
    margin-bottom: -15px;
  }

  h2 {
    margin-top: 0px;

    &:first-child {
      font-weight: normal;
    }
  }

  .subtitle {
    font-size: 0.8em;
  }

  .action-button {
    position: absolute;
    bottom: 0;
  }

  md-divider {
    border-top-color: $separatorBarElement;
    height: 1px;
  }

  .question {
    margin-bottom: 20px;

    .submit {
      width: 100%;

      button {
        width: 100%;
      }
    }

  }

  md-card {

    md-card-content {
      padding-left: 5px;

      .description {
        text-align: justify;
      }

      .bottom-right-md-card {
        font-weight: bold;
        text-decoration: underline;
      }

      .md-datepicker-input-container {
        /* width: 80%;
         margin-left: 0px;*/
      }

      .block-properties {
        margin-top: 10px;
        font-size: 1.1em;
      }

      .name-properties {
        color: #8D8D8D;
      }

    }

    &.reservation {
      //overflow: hidden;
      position: relative;
      width: 100%;

      md-card-content  {

        md-datepicker {
          padding-right: 0;
          padding-left: 0;
          width: 98%;
        }
        .md-datepicker-input-container {
          width: 85%;
        }

        a {
          color: black;
        }

        div {

          &.date {
            //background: red;
            height: 40%;
            width: 100%;
            position: absolute;
            top: 0;

            md-datepicker {
              margin-top: 10px;
            }
          }

          &.rent {
            height: 20%;
            width: 100%;
            position: absolute;
            top: 40%;
          }

          &.favorite-share {
            height: 40%;
            width: 100%;
            position: absolute;
            //background: blue;
            top: 60%;

            .details {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}

/*

.article-show {


    md-datepicker {
     // margin-top: 6px;
    }


  md-card.about {
    margin: 0;
  }

  md-card.about-margin {
    margin-right: 8px;
  }

  .about {


    md-card-content {
      padding: 0px;
    }

  }

  !*
  border-right-width: 1px;
  border-right-style: solid
  *!

  ng-md-icon {
    height: 40px;
    width: 20px;
    margin-top: -2px;
  }

    .description {
      text-align: justify;
    }

  .grid-gallery {
    // width: auto;
    // height: 100px;

    img {
      width: auto;
      height: 250px;
      cursor: pointer;
    }
  }
}

!*Slider Css *!
.article-show-slider {

  width: 450px;

  //overflow-x: hidden;

  img {
    width: 450px;
    height: auto;
  }

  !*---------------------------------------------------------
NAV
---------------------------------------------------------*!
  .nav {
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    left: 0;
    bottom: -4px;
    right: 0;
    height: 48px;

    .wrapper {
      margin: 0 auto;
      width: 100%;
      padding: 1em 0 .8em;
    }

    ul {
      margin: 0;
      width: 100%;
    }

    .dot, .dot a {
      display: inline-block;
      zoom: 1;
    }

    .dots {

      padding-left: 0;

      .dot {
        position: relative;
        margin: 0 8px;
        width: 12px;
        height: 12px;

        a {
          position: absolute;
          top: 2px;
          left: 2px;
          width: 6px;
          height: 6px;
          text-indent: 100%;
          white-space: nowrap;
          overflow: hidden;
          background: #FFF;
          border: 1px solid transparent;
          outline: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          -webkit-transition: background-color 0.25s, border-color 0.25s;
          -moz-transition: background-color 0.25s, border-color 0.25s;
          transition: background-color 0.25s, border-color 0.25s;

          &.active {
            border-color: #FFF;
            background-color: transparent;
          }
        }
      }

    }

  }

  !* Arrow nav *!

  .arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../assets/images/article-carousel/blank.gif) no-repeat;

    &.prev {
      opacity: 0.2;
      left: 20px;
      background-image: url(../assets/images/article-carousel/paddle_prev_999.png);
      transition: 0.0 .5s linear all;

      &:hover {
        opacity: 1;
        background-image: url(../assets/images/article-carousel/paddle_prev_fff.png);
      }
    }

    &.next {
      opacity: 0.2;
      right: 20px;
      background-image: url(../assets/images/article-carousel/paddle_next_999.png);
      transition: 0.0 .5s linear all;

      &:hover {
        opacity: 1;
        background-image: url(../assets/images/article-carousel/paddle_next_fff.png);
      }
    }
  }

}

!* Animation CSS *!

.slide-animation-right.ng-hide-add, .slide-animation-right.ng-hide-remove {
  -webkit-animation: slideOutLeft 0.8s, fadeIn 0.8s;
  -moz-animation: slideOutLeft 0.8s, fadeIn 0.8s;
  -ms-animation: slideOutLeft 0.8 ss, fadeIn 0.8 ss;
  animation: slideOutLeft 0.8s, fadeIn 0.8s;
}

.slide-animation-right.ng-hide {
  -webkit-animation: slideOutLeft 0.8s, fadeOut 0.8s;
  -moz-animation: slideOutLeft 0.8s, fadeOut 0.8s;
  -ms-animation: slideOutLeft 0.8s, fadeOut 0.8s;
  animation: slideOutLeft 0.8s, fadeOut 0.8s;

}

.slide-animation-left.ng-hide-add, .slide-animation-left.ng-hide-remove {
  -webkit-animation: slideInLeft 0.8s, fadeIn 0.8s;
  -moz-animation: slideInLeft 0.8s, fadeIn .8s;
  -ms-animation: slideInLeft 0.8s, fadeIn 0.8s;
  animation: slideInLeft 0.8s, fadeIn 0.8s;
}

.slide-animation-left.ng-hide {
  -webkit-animation: slideInLeft 0.8s, fadeOut 0.8s;
  -moz-animation: slideInLeft 0.8s, fadeOut 0.8s;
  -ms-animation: slideInLeft 0.8s, fadeOut 0.8s;
  animation: slideInLeft 0.8s, fadeOut 0.8s;

}

.fade-animation.ng-hide-add, .fade-animation.ng-hide-remove {
  -webkit-animation: fadeIn 0.8s;
  -moz-animation:  fadeIn 0.8s;
  -ms-animation: fadeIn 0.8s;
  animation: fadeIn 0.8s;
}

.fade-animation.ng-hide {
  -webkit-animation: fadeOut 0.4s;
  -moz-animation:  fadeOut 0.4s;
  -ms-animation: fadeOut 0.4s;
  animation: fadeOut 0.4s;
}


.gridListdemoBasicUsage md-grid-list {
  margin: 8px; }

.gridListdemoBasicUsage .gray {
 !* background: #f5f5f5; *!}

.gridListdemoBasicUsage .green {
  background: #b9f6ca; }

.gridListdemoBasicUsage .yellow {
  background: #ffff8d; }

.gridListdemoBasicUsage .blue {
  background: #84ffff; }

.gridListdemoBasicUsage .purple {
  background: #b388ff; }

.gridListdemoBasicUsage .red {
  background: #ff8a80; }

.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms; }
*/
