@import "../../theme.scss";

.article-show {

  // margin-bottom: 50px;

  h1 {
    margin-bottom: -15px;
  }

  h2 {
    margin-top: 0px;

    &:first-child {
      font-weight: normal;
    }
  }

  .item.ng-scope img {
    width: 475px;
    height: auto;
  }
  /*  .owl-item {
      width: auto;
      height: 250px;
      cursor: pointer;
    }*/

  .subtitle {
    font-size: 0.8em;
  }

  .action-button {
    position: absolute;
    bottom: 0;
  }

  md-divider {
    border-top-color: $separatorBarElement;
    height: 1px;
  }

  .question {
    margin-bottom: 20px;

    ng-md-icon {
      cursor: pointer;
    }

    .submit {
      width: 100%;

      button {
        width: 100%;
      }
    }

  }

  md-card {

    md-card-content {
      padding-left: 5px;

      .description {
        text-align: justify;
      }

      .bottom-right-md-card {
        font-weight: bold;
        text-decoration: underline;
      }

      .md-datepicker-input-container {
        /* width: 80%;
         margin-left: 0px;*/
      }

      .block-properties {
        margin-top: 10px;
        font-size: 1.1em;
      }

      .name-properties {
        color: #8D8D8D;
      }

      .article-not-available {
        color: $notAvailable;
        text-align: center;
        font-size: large;
      }

    }

    &.reservation {
      //overflow: hidden;
      position: relative;
      width: 100%;

      md-card-content {

        a {
          color: black;
        }

        div {

          &.date {
            //background: red;

            md-datepicker {
              margin-top: 10px;
            }
          }

          &.rent {
          }

          &.favorite-share {

            .details {
              margin-bottom: 10px;
            }

            ng-md-icon {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  /* Questions */

  .question-not-available {
    color: #C10000;
    text-align: center;
    font-size: large;
  }

  .owl-carousel {

    .item {
      span.bold {
        margin-top: 20px;
      }
    }
  }

  /*Owl theme*/
  /*
 * 	Default theme - Owl Carousel CSS File
 */
  .owl-theme .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
  }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .owl-theme .owl-nav [class*='owl-']:hover {
    background: #869791;
    color: #FFF;
    text-decoration: none;
  }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default;
  }
  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px;
  }
  .owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
  }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
  .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
  }
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #869791;
  }

  /* Recommend */
  .recommend-articles-not-available {
    color: #C10000;
    text-align: center;
    font-size: large;
  }

  @media screen and (min-width: 600px) {

    md-card-content {

      md-datepicker {
        padding-right: 0;
        padding-left: 0;
        width: 98%;
      }
      .md-datepicker-input-container {
        width: 85%;
      }

      a {
        color: black;
      }

      div {

        &.date {
          //background: red;
          height: 40%;
          width: 100%;
          position: absolute;
          top: 0;

          md-datepicker {
            margin-top: 10px;
          }
        }

        &.rent {
          height: 20%;
          width: 100%;
          position: absolute;
          top: 40%;
        }

        &.favorite-share {
          height: 40%;
          width: 100%;
          position: absolute;
          //background: blue;
          top: 60%;

          .details {
            margin-bottom: 10px;
          }

          ng-md-icon {
            cursor: pointer;
          }
        }
      }
    }
  }

}

/* Login Modal */
md-dialog .login-modal .login-body .facebook {
  margin-bottom: 20px;
}

md-dialog .login-modal .register {
  font-size: 0.8em;
}

