md-toolbar(layout="row", layout-align="space-between center" ng-controller="NavBarController as navbar").locsapp-navbar-gt-sm
  span
    span(ui-sref="main.homepage" style="cursor: pointer;").md-toolbar-tools Locsapp
  div(layout="row" ng-if="!main.is_authenticated()")

    div
      span.icon-and-title
        a(href='#' ui-sref="main.login")
          ng-md-icon(icon="login" size="38")
          span.title Log in

    div
      span.icon-and-title
        a(href='#' ui-sref="main.register")
          ng-md-icon(icon="person_add" size="38")
          span.title Sign in
  span(ng-if="main.is_authenticated()")
    include ./notifications.jade

    ng-md-icon(icon="account_box", size="48", ui-sref="main.article_create").locsapp-navbar-last-icon-gt-sm
    ng-md-icon(icon="account_box", size="48", ui-sref="main.user_profile").locsapp-navbar-last-icon-gt-sm
    ng-md-icon(icon="logout", size="48", ui-sref="main.logout").locsapp-navbar-last-icon-gt-sm
