md-toolbar(layout="row", layout-align="space-between center" ng-controller="NavBarController as navbar").locsapp-navbar-gt-sm
  span
    span(ui-sref="main.homepage" style="cursor: pointer;").md-toolbar-tools Locsapp
  div(layout="row" ng-if="!main.is_authenticated()")

    div
      span.icon-and-title
        a(href='#' ui-sref="main.login")
          ng-md-icon(icon="login" size="38")
          span.title Log in

    div
      span.icon-and-title
        a(href='#' ui-sref="main.register")
          ng-md-icon(icon="person_add" size="38")
          span.title Sign in
  div(layout='row' ng-if="main.is_authenticated()")
    //include ./notifications.jade

    div
      span.icon-and-title
        a(href='#' ui-sref="main.article_search")
          ng-md-icon(icon="search" size="38")
          span.title Search

    div
      span.icon-and-title
        a(href='#' ui-sref="main.article_create")
          ng-md-icon(icon="create" size="38")
          span.title Create an article



    //div
      span.icon-and-title
        // md-menu-origin
        a(href='#')
          ng-md-icon(md-menu-origin icon="account_box" size="38")
          span.title My account

    div.submenu
      span.icon-and-title
        md-menu
          a(href='#' ng-click='navbar.openMenuAccount($mdOpenMenu, $event)')
            ng-md-icon(md-menu-origin='' icon="account_box" size="38" )
            span.title My account
          .submenu.md-menu-content(width='1')

            md-menu-item
              .submenu.subtitle My informations
            md-divider

            md-menu-item
              .submenu.subtitle My informations




    div
      span.icon-and-title
        a(href='#' ui-sref="main.logout")
          ng-md-icon(icon="logout" size="38")
          span.title Log out




    //ng-md-icon(icon="account_box", size="48", ui-sref="main.article_create").locsapp-navbar-last-icon-gt-sm




