//We use a sidenav for small screen that we hide for big screen
div(ng-controller="NavBarController as navbar")
  div.sidenav(hide show-xs show-sm)
    ng-md-icon(icon="menu" ng-click='navbar.toggleRight()', ng-hide='navbar.isOpenRight()'
    style='cursor:pointer')




    md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='right')
      md-toolbar.md-theme-light
        h1.md-toolbar-tools Sidenav Right
      md-content(layout-padding='')
        form
          md-input-container
            label(for='testInput') Test input
            input#testInput(type='text', ng-model='data', md-autofocus='')
        md-button.md-primary(ng-click='close()')
          | Close Sidenav Right


  //Navbar for big screen
  md-toolbar(layout="row", layout-align="space-between center" hide-xs hide-sm).locsapp-navbar-gt-sm
    span
      span(ui-sref="main.homepage" style="cursor: pointer;").md-toolbar-tools Locsapp
    div(layout="row" ng-if="!main.is_authenticated()")

      div
        span.icon-and-title
          a(href='#' ui-sref="main.login")
            span.title Log in

      div
        span.icon-and-title
          a(href='#' ui-sref="main.register")
            span.title Sign in
    div(layout='row' ng-if="main.is_authenticated()")
      //include ./notifications.jade

      div
        span.icon-and-title
          a(href='#' ui-sref="main.homepage")
            span.title Search

      div
        span.icon-and-title
          a(href='#' ui-sref="main.article_create")
            span.title Create an article


      div.submenu
        span.icon-and-title
          md-menu
            a(href='#' ng-click='navbar.openMenuArticle($mdOpenMenu, $event)')
              span.title My articles
            md-menu-content.submenu(width='4')

              md-menu-item
                a.submenu(href='#' ui-sref="main.article_requests")
                  span.submenu.subtitle Current requests
              md-divider


              md-menu-item
                a.submenu(href='#' ui-sref="main.profile_management")
                  span.submenu.subtitle Current articles
              md-divider

              md-menu-item
                a.submenu(href='#' ui-sref="main.article_timelines")
                  span.submenu.subtitle Timeline
              md-divider

              md-menu-item
                a.submenu(href='#' ui-sref="main.article_notations")
                  span.submenu.subtitle Notation


      div.submenu
        span.icon-and-title
          md-menu
            a(href='#' ng-click='navbar.openMenuQuestions($mdOpenMenu, $event)')
              span.title My questions
            md-menu-content.submenu(width='4')

              md-menu-item
                a.submenu(href='#' ui-sref="main.questions")
                  span.submenu.subtitle Questions I have asked
              md-divider


              md-menu-item
                a.submenu(href='#' ui-sref="main.questions")
                  ng-md-icon(icon="arrow_back" size="25")
                  span.submenu.subtitle Questions to answer


      div.submenu
        span.icon-and-title
          md-menu
            a(href='#' ng-click='navbar.openMenuFavorites($mdOpenMenu, $event)')
              span.title My bookmarks
            md-menu-content.submenu(width='4')

              md-menu-item
                a.submenu(href='#' ui-sref="main.favorites")
                  span.submenu.subtitle My articles
              md-divider


              md-menu-item
                a.submenu(href='#' ui-sref="main.profile_management")
                  span.submenu.subtitle My searches


      div.submenu
        span.icon-and-title
          md-menu
            a(href='#' ng-click='navbar.openMenuAccount($mdOpenMenu, $event)')
              span.title My account
            md-menu-content.submenu(width='4')

              md-menu-item
                a.submenu(href='#' ui-sref="main.user_profile")
                  span.submenu.subtitle My informations
              md-divider


              md-menu-item
                a.submenu(href='#' ui-sref="main.profile_management")
                  span.submenu.subtitle Edit my profile
              md-divider

              md-menu-item
                a.submenu(href='#' ui-sref="main.homepage")
                  span.submenu.subtitle History



      div
        span.icon-and-title
          a(href='#' ui-sref="main.logout")
            span.title.hide-last Log out


      //ng-md-icon(icon="account_box", size="48", ui-sref="main.article_create").locsapp-navbar-last-icon-gt-sm

      //div.submenu
           span.icon-and-title
             md-menu
               a(href='#' ng-click='navbar.openMenuAccount($mdOpenMenu, $event)')
                 ng-md-icon(md-menu-origin='' icon="account_box" size="30" )
                 span.title My account
               .submenu.md-menu-content(width='1')








