//We use a sidenav for small screen that we hide for big screen
div(ng-controller="NavBarController as navbar" )
  div.sidenav(hide show-xs show-sm style="height: 2000px;")
    ng-md-icon(icon="menu" ng-click="navbar.toggleLeft()", ng-hide=  'navbar.isOpenRight()'
    style='cursor:pointer')

    md-sidenav.md-sidenav-left.md-whiteframe-z1(md-component-id='left', md-is-locked-open="$mdMedia('gt-sm')")
      md-toolbar(md-scroll-shrink='')
        .md-toolbar-tools
          h3
            span LocsApp


      md-content(flex='', role='navigation')
        ul.side-menu
          li.parent-list-item(ng-repeat='section in navbar.menu.sections', ng-class="{'parentActive' : navbar.isSectionSelected(section)}")
            h2.menu-heading(ng-if="section.type === 'heading'", id='heading_{{ section.name  }}')
              | {{section}}

            menu-link(section='section', ng-if="section.type === 'link'")
            menu-toggle(section='section', ng-if="section.type === 'toggle'")
        //md-divider


    //md-sidenav.md-sidenav-left(md-component-id='left', md-whiteframe='4' style="height: 500px;")
      md-toolbar.md-theme-indigo
        h1.md-toolbar-tools LocsApp
      md-content(layout-margin='')
        p
          | This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
        md-button.md-accent(ng-click='navbar.toggleLeft()')
          | Close this Sidenav


  //Navbar for big screen
  md-toolbar(layout="row", layout-align="space-between center" hide-xs hide-sm).locsapp-navbar-gt-sm
    span
      span(ui-sref="main.homepage" style="cursor: pointer;").md-toolbar-tools Locsapp
    div(layout="row" ng-if="!main.is_authenticated()")

      div
        span.icon-and-title
          a(href='#' ui-sref="main.login")
            span.title {{ 'LOGIN' | translate }}

      div
        span.icon-and-title
          a(href='#' ui-sref="main.register")
            span.title {{ 'SIGN_IN' | translate }}
    div(layout='row' ng-if="main.is_authenticated()")
      //include ./notifications.jade

      div
        span.icon-and-title
          a(href='#' ui-sref="main.homepage")
            span.title {{ 'SEARCH' | translate }}

      div
        span.icon-and-title
          a(href='#' ui-sref="main.article_create")
            span.title {{ 'CREATE_ARTICLE' | translate }}


      div.submenu
        span.icon-and-title
          md-menu
            a(href='#' ng-click='navbar.openMenuArticle($mdOpenMenu, $event)')
              span.title {{ 'MY_ARTICLES' | translate }}
            md-menu-content.submenu(width='4')

              md-menu-item
                a.submenu(href='#' ui-sref="main.article_requests")
                  span.submenu.subtitle {{ 'CURRENT_REQUESTS' | translate }}s
              md-divider


              md-menu-item
                a.submenu(href='#' ui-sref="main.profile_management")
                  span.submenu.subtitle {{ 'CURRENT_ARTICLES' | translate }}
              md-divider

              md-menu-item
                a.submenu(href='#' ui-sref="main.article_timelines")
                  span.submenu.subtitle {{ 'TIMELINE' | translate }}
              md-divider

              md-menu-item
                a.submenu(href='#' ui-sref="main.article_notations")
                  span.submenu.subtitle {{ 'NOTATION' | translate }}


      div.submenu
        span.icon-and-title
          md-menu
            a(href='#' ng-click='navbar.openMenuQuestions($mdOpenMenu, $event)')
              span.title {{ 'MY_QUESTIONS' | translate }}
            md-menu-content.submenu(width='4')

              md-menu-item
                a.submenu(href='#' ui-sref="main.questions")
                  span.submenu.subtitle {{ 'QUESTIONS_I_HAVE_ASKED' | translate }}
              md-divider


              md-menu-item
                a.submenu(href='#' ui-sref="main.questions")
                  span.submenu.subtitle {{ 'QUESTIONS_TO_ANSWER' | translate }}


      div.submenu
        span.icon-and-title
          md-menu
            a(href='#' ng-click='navbar.openMenuFavorites($mdOpenMenu, $event)')
              span.title {{ 'MY_BOOKMARKS' | translate }}
            md-menu-content.submenu(width='4')

              md-menu-item
                a.submenu(href='#' ui-sref="main.favorites")
                  span.submenu.subtitle {{ 'MY_ARTICLES' | translate }}
              md-divider


              md-menu-item
                a.submenu(href='#' ui-sref="main.profile_management")
                  span.submenu.subtitle {{ 'MY_SEARCHES' | translate }}


      div.submenu
        span.icon-and-title
          md-menu
            a(href='#' ng-click='navbar.openMenuAccount($mdOpenMenu, $event)')
              span.title {{ 'MY_ACCOUNT' | translate }}
            md-menu-content.submenu(width='4')

              md-menu-item
                a.submenu(href='#' ui-sref="main.user_profile")
                  span.submenu.subtitle {{ 'MY_INFORMATIONS' | translate }}
              md-divider


              md-menu-item
                a.submenu(href='#' ui-sref="main.profile_management")
                  span.submenu.subtitle {{ 'EDIT_PROFILE' | translate }}
              md-divider

              md-menu-item
                a.submenu(href='#' ui-sref="main.history_notations")
                  span.submenu.subtitle {{ 'HISTORY_NOTATION' | translate }}
              md-divider

              md-menu-item
                a.submenu(href='#' ui-sref="main.history_articles")
                  span.submenu.subtitle {{ 'HISTORY_ARTICLE' | translate }}




      div
        span.icon-and-title
          a(href='#' ui-sref="main.logout")
            span.title.hide-last {{ 'LOGOUT' | translate }}


      //ng-md-icon(icon="account_box", size="48", ui-sref="main.article_create").locsapp-navbar-last-icon-gt-sm

      //div.submenu
           span.icon-and-title
             md-menu
               a(href='#' ng-click='navbar.openMenuAccount($mdOpenMenu, $event)')
                 ng-md-icon(md-menu-origin='' icon="account_box" size="30" )
                 span.title My account
               .submenu.md-menu-content(width='1')








