@import "../../theme.scss";

.locsapp-navbar-gt-sm {

	&:not(.md-menu-toolbar) { 
		background: $navbar-background;
	};

	.locsapp-navbar-icons-gt-sm {
		width: 48px;
		height: 48px;
		cursor: pointer;
	};

	.locsapp-navbar-last-icon-gt-sm {
		@extend .locsapp-navbar-icons-gt-sm;
		margin-right: 20px;
	};

}

.locsapp-navbar-notifications-container {
	padding: 0px;
	max-width:300px; 
	line-break: loose;

	md-content {
		padding-left: 5px;
	}

	md-list-item {
		cursor: pointer;
		padding-right: 5px;
		padding-left: 0px;

		&:hover {
			.locsapp-navbar-notifications-drop-icon {
				visibility: visible;
			}
			md-content {
				background-color: rgba(0, 0, 0, 0.1);
			}
		}
	}

	.locsapp-navbar-notifications-drop-icon {
		margin: 0px;
		color: $noInfo;
		visibility: hidden;
	}
}