md-toolbar(layout="row", layout-align="space-between center" ng-controller="NavBarController as navbar").locsapp-navbar-gt-sm
	span
		h2(ui-sref="main.homepage" style="cursor: pointer;").md-toolbar-tools Locsapp
	span(ng-if="!main.is_authenticated()")
		ng-md-icon(icon="login", size="48", ui-sref="main.login").locsapp-navbar-icons-gt-sm
		ng-md-icon(icon="person_add", size="48", ui-sref="main.register").locsapp-navbar-last-icon-gt-sm
	span(ng-if="main.is_authenticated()")
		md-menu(md-position-mode="target target" md-offset="56")
			ng-md-icon(icon="notifications_none", size="48", md-menu-origin, ng-click="navbar.openNotificationsMenu($mdOpenMenu, $event);").locsapp-navbar-icons-gt-sm
			md-menu-content(width="4").locsapp-navbar-notifications-container
				md-toolbar(layout="row", layout-align="space-between center")
					span.md-toolbar-tools 1 New Notification
					ng-md-icon(icon="settings").locsapp-navbar-notifications-toolbar-icon
					ng-md-icon(icon="notifications_none")
					ng-md-icon(icon="notifications_off")
					ng-md-icon(icon="delete").last-icon
				span(ng-repeat="notification in navbar.notifications()")
					md-list-item(layout="row", layout-align="start start", ng-class="{'locsapp-navbar-notifications-new' : !notification.read}")
							ng-md-icon(icon="{{ notification.type }}").locsapp-navbar-notifications-left-icon.md-menu-align-target
							md-content(ng-click="navbar.goToState(notification.state_url);").flex.locsapp-navbar-notifications-content {{ notification.content }}
							section(layout="column", layout-align="start start")
								ng-md-icon(icon="highlight_remove").locsapp-navbar-notifications-drop-icon
								ng-md-icon(icon="notifications_none").locsapp-navbar-notifications-drop-icon
					md-divider(ng-if="!$last")
				md-list-item(ng-if="!navbar.notifications()")
					md-content You have no notifications.
		ng-md-icon(icon="account_box", size="48", ui-sref="main.user_profile").locsapp-navbar-last-icon-gt-sm
		ng-md-icon(icon="logout", size="48", ui-sref="main.logout").locsapp-navbar-last-icon-gt-sm
