md-menu(md-position-mode="target target" md-offset="57")
	div(ng-click="navbar.openNotificationsMenu($mdOpenMenu, $event);").locsapp-navbar-icons-gt-sm.locsapp-navbar-container-icon-notifications
		ng-md-icon(icon="notifications", size="48", md-menu-origin ng-if="navbar.notifications().metadatas.total >= 1")
		ng-md-icon(icon="notifications_none", size="48", md-menu-origin ng-if="navbar.notifications().metadatas.total == 0 || !navbar.notifications().metadatas")
		div(style="position: relative;" ng-if="navbar.notifications().metadatas.new > 0")
			div.locsapp-navbar-icon-number-notification-container
				span.locsapp-navbar-icon-number-notification {{ navbar.notifications().metadatas.new}}
	md-menu-content(width="4").locsapp-navbar-notifications-container
		md-toolbar(layout="row", layout-align="space-between center")
			span(ng-if="navbar.notifications().metadatas.total < 2").md-toolbar-tools {{ navbar.notifications().metadatas.total }} Notification
			span(ng-if="navbar.notifications().metadatas.total > 1").md-toolbar-tools {{ navbar.notifications().metadatas.total }} Notifications
			ng-md-icon(icon="settings").locsapp-navbar-notifications-toolbar-icon
			ng-md-icon(icon="notifications_none" ng-click="navbar.notificationReadAll()", md-prevent-menu-close)
			ng-md-icon(icon="notifications_off")
			ng-md-icon(icon="delete").last-icon
		perfect-scrollbar(wheel-propagation="true" wheel-speed="1" min-scrollbar-length="5" on-scroll="navbar.lazyLoadNotifications(scrollTop, scrollHeight);").locsapp-notifications-scroller
			span(ng-repeat="notification in navbar.notifications().notifications")
				md-list-item(layout="row", layout-align="start start", ng-class="{'locsapp-navbar-notifications-new' : !notification.read}", ng-hide="!notification.visible")
						ng-md-icon(icon="{{ notification.type }}").locsapp-navbar-notifications-left-icon.md-menu-align-target
						md-content(ng-click="navbar.goToState(notification.state_url); navbar.notificationRead(notification);", md-prevent-menu-close).flex.locsapp-navbar-notifications-content
							div(am-time-ago="notification.date").locsapp-navbar-notifications-date
							div(ng-bind-html="notification.content")
						section(layout="column", layout-align="start start")
							ng-md-icon(icon="highlight_remove" md-prevent-menu-close ng-click="navbar.notificationDelete(notification);").locsapp-navbar-notifications-drop-icon
							ng-md-icon(icon="notifications_none" md-prevent-menu-close ng-click="navbar.notificationRead(notification);").locsapp-navbar-notifications-drop-icon
				md-divider(ng-if="!$last")
			div(ng-if="navbar.loader()").locsapp-navbar-notifications-load-more
				md-progress-circular(md-mode="indeterminate" md-diameter="20").locsapp-navbar-notifications-load-more
		md-list-item(ng-if="navbar.notifications().metadatas.total < 1")
			md-content You have no notifications.