doctype html
html(ng-app="locsApp")
    head
        title = LocsApp
    body
    div(ng-view)
    script(src="static/angularjs/angular.js")
    script(src="static/angular-route/angular-route.js")
    script(src="static/js/app.js")





