@import "../../theme.scss";

.login-body {

  .line {
    //border-top: 1px solid black;
    //width: 40%;
    margin-top: 9px;
  }

  .middle-word {
    margin: 0px 5px 0px 5px;
  }

  md-checkbox {
    margin-top: 0px;
  }

  md-checkbox.md-checked .md-icon {
    background-color: $checkBox;
  }

  .login-forgot-password {
    text-decoration: underline;
    cursor: pointer;
  }


  .facebook, .md-button.facebook:hover {
    background-color: rgba(59, 89, 152, 1);
    color: white;
  }

  .submit-buttons {
    text-align: right;
  }

  .margin-button {
    margin-top: 30px;
  }

}
