div.login(layout="row" layout-align="center")
  md-card(flex-xs="100" flex-sm="80" flex-md="60" flex="50")
    md-card-content
      div(layout="row" layout-align="center")
        h1 {{ 'LOGIN' | translate }}
      .login-body(layout="row" layout-align="center")
        form(name="loginForm" novalidate ng-submit="loginForm.$valid && login.submit()"
        flex-xs="100" flex-sm="80" flex-md="60" flex="50")



            md-input-container.md-icon-float.md-block()
              md-icon(md-svg-src="../assets/icons/register-login/ic_mood_black_24px.svg" class="name")
              label(translate) USERNAME_OR_EMAIL
              input(required name="username" ng-model="username" maxlength="30" minlength="3").body-register-container-md
              div(ng-messages="loginForm.username.$error" ng-if='!loginForm.username.$pristine')
                div(ng-message="required") {{ 'THIS_IS_REQUIRED' | translate }}.
                div(ng-message="minlength") {{ 'USERNAME_TOO_SHORT' | translate }}.
                div(ng-message="md-maxlength") {{ 'USERNAME_TOO_LONG' | translate }}.

            md-input-container.md-icon-float.md-block()
              md-icon(md-svg-src="../assets/icons/register-login/ic_vpn_key_black_24px.svg" class="name")
              label(translate) PASSWORD
              input(type="password" name="password" required ng-model="password" maxlength="30" minlength="6").body-register-container-md
              div(ng-messages="loginForm.password.$error" ng-if="loginForm.password.$dirty")
                div(ng-message="required") {{ 'THIS_IS_REQUIRED' | translate }}.
                div(ng-message="minlength") {{ 'PASSWORD_TOO_SHORT' | translate }}.
                div(ng-message="maxlength") {{ 'PASSWORD_TOO_LONG' | translate }}.
            div(layout="column"       layout-align="start center")
              md-checkbox(ng-model="remember_me") {{ 'REMEMBER_ME' | translate }}
              span(ng-click="login.forgotPasswordDialog($event)").login-forgot-password {{ 'FORGET_YOUR_PASSWORD' | translate }}

            div.submit-buttons()
              md-button.md-raised.margin-button-top(flex-offset="10" type="submit"
              style="width:90%") {{ 'LOGIN' | translate }}
              section.margin-button.separate-button.margin-button-top(layout="row" layout-align="center")
                md-divider(flex-offset="5" flex="45").line
                div().middle-word {{ 'OR' | translate }}
                md-divider(flex="45").line
              div.margin-button-top(ng-controller='FacebookLoginController as FB' flex="90"
              flex-offset="10")
                md-button.md-raised.facebook.margin-button(layout-fill ng-click='FB.login()') {{ 'LOGIN_WITH_FACEBOOK' | translate }}


