@import "../../theme.scss";

.login {

  h1 {
    margin-top: 0;
  }

  md-card {
    padding-bottom: 16px;
    margin-top: 30px;
  }

  .login-body {

    .line {
      margin-top: 9px;
      height: 1px;
      background: $separatorBarH2;
    }

    .middle-word {
      margin: 0px 10px 0px 10px;
    }

    md-checkbox {
      margin-top: 0px;
    }

    md-checkbox.md-checked .md-icon {
      background-color: $checkBox;
    }

    .login-forgot-password {
      text-decoration: underline;
      cursor: pointer;
    }

    .facebook, .md-button.facebook:hover {
      background-color: rgba(59, 89, 152, 1);
      color: white;
    }

    .submit-buttons {
      text-align: right;
    }

    .margin-button-top {
      margin-top: 30px;
    }

    .separate-button {
      margin-left: 25px;
    }

  }

}

