md-card(flex="100")
  md-card-content

    div(layout="row" layout-align="center")
      h1 Edit my profile

    div(layout="row" layout-sm="column" layout-align="space-around start")
      img(src="../assets/images/users/profile_picture/160281_3_photo_781124_899A08_BD_3.jpg")

      div(layout="column")
        h2.username
          md-icon(ng-if="!profileParams.user.gender" md-svg-src="../assets/icons/gender-male-female" +
          ".svg"
          aria-label="gender-male-female")
          md-icon(ng-if="profileParams.user.gender.indexOf('female') > -1" md-svg-src="../assets/icons/gender-female.svg"
          aria-label="gender-female")
          md-icon(ng-if="profileParams.user.gender.indexOf('male') > -1" md-svg-src="../assets/icons/gender-male.svg"
          aria-label="gender-male")
          | {{profileParams.user.username}}

        div.properties-user
          div
            ng-md-icon(icon="whatshot" size="28")
            span(ng-if="!profile.user.last_activity_date") Last activity: Unknown
            span(ng-if="profile.user.last_activity_date") Last activity {{profile.user.last_activity_date}}

          div
            ng-md-icon(icon="insert_emoticon" size="28")
            span Subscribed {{profileParams.user.registered_date}}




