div(layout="row", layout-align="center center", layout-margin)
	h2 Welcome to the article creation
div(layout="row", layout-align="start center", layout-margin)
	div.ng-cloak.flex
		md-content
			md-tabs.md-dynamic-height.md-border-bottom
				md-tab
					md-tab-label
						h3 KEK
					md-tab-body
						md-content
							h1 kek